{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  <li><a href="history/" class="historylink"><i class="icon-time icon-alpha75"></i>{% trans "History" %}</a></li>
  {% if has_absolute_url %}
    {% if original.status == 'P' %}
    <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink" target="_blank"><i class="icon-eye-open icon-alpha75"></i>{% trans "View on site" %}</a></li>
    {% else %}
    <li><a href="{{ absolute_url }}" class="viewsitelink" target="_blank"><i class="icon-eye-open icon-alpha75"></i>{% trans "Preview on site" %}</a></li>
    {% endif %}
  {% endif %}

  {% if has_add_permission %}
    <li><a href="../add/"><i class="icon-plus-sign icon-alpha75"></i>{% blocktrans with opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li>
    {# {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>#}
  {% endif %}
{% endblock %}
