{% extends 'base.html' %}
{% load core paginate recall_tags %}

{% block extra_meta %}
<meta name="ROBOTS" content="NOINDEX">
{% endblock %}

{% block content %}
        <div id="recall-content" class="row search-results">

                <div class="medium-8 columns collapse-right-2px collapse-mobile">
                        <div class="show-for-small-only right"><a href="{% url 'recalls_signup' %}"><img class="mobile-sign-up" src="{{ STATIC_URL }}recalls/header-recall-alert-signup-mobile.png" alt=""/></a></div>
                        <h2 class="page-header home-page-header">Product Recalls <img class="header-icon" src="{{ STATIC_URL }}recalls/icon-exclamation.png" alt="" /><span class="right show-for-medium-up"><a href="{% url 'recalls_signup' %}"><img class="sign-up" src="{{ STATIC_URL }}recalls/header-recall-alert-signup.png" alt="" /></a></span></h2>

                        <div class="featured-item-container"><a class="featured-recall" href="/recalls/products/dream-on-me-recalls-incredible-play-yards-due-to-strangulation-hazard-15043/"><img src="{{ STATIC_URL }}recalls/play-yard-featured.jpg" alt="" /></a><div class="featured-item-info"><a href="/recalls/products/dream-on-me-recalls-incredible-play-yards-due-to-strangulation-hazard-15043/"><h5>Issue: Strangulation Hazard</h5><h4>Dream On Me Recalls Incredible Play Yards</h4><span class="view-recall-link">View Recall <i class="fa fa-angle-right"></i></span></a></div></div>

                        {% include 'recalls/includes/latest_most_popular.html' with additional_classes="show-for-medium-up home-page" column_adjustment_class="collapse-right-2px mobile-standard-padding" %}

                </div><!-- end medium-8 -->

                <div class="medium-4 columns collapse-left-0px collapse-mobile recalls-rail">
                        <h2 class="page-header home-page-header category-search-header">Search Recalls <img class="header-icon" src="{{ STATIC_URL }}recalls/icon-magnifying-glass.png" /></h2>
                        <div id="search-by-box" class="search-module">
                            <h3>Search by product name</h3>
                          <form action="{% url 'recalls_search' %}">
                            <input type="text" name="q" placeholder="Enter search query here" value="{{ request.GET.q }}"/>
                            <button type="submit">Submit <i class="fa fa-angle-right"></i></button>
                          </form>
                        </div>
                        <div class="category-list search-module">
                            <h3>Search by product category</h3>
                            <ul>
                                <li><a class="category-link" href="{% url 'product_recall_list' %}"><img src="{{ STATIC_URL }}img/recalls/product_default.jpg" /> Consumer Products <i class="fa fa-angle-right fa-2x"></i></a></li>
                                <li><a class="category-link" href="{% url 'car_recall_list' %}"><img src="{{ STATIC_URL }}img/recalls/vehicle_default.jpg" /> Motor Vehicles <i class="fa fa-angle-right fa-2x"></i></a></li>
                                <li><a class="category-link" href="{% url 'food_recall_list' %}"><img src="{{ STATIC_URL }}img/recalls/food_drug_default.jpg" /> Food &amp; Drug <i class="fa fa-angle-right fa-2x"></i></a></li>
                            </ul>
                        </div><!-- end row -->
                        <div id="mobile-ul-news-container">
                            <div class="small-12 columns widget-box ul-news" data-equalizer-watch>
                                <h3>News from UL</h3> <span class="view-all"><a href="{% url 'recalls_list' %}">View all</a></span><a href="{% print_setting "UL_NEWS_FEED" %}" class="rss-link"><i class="fa fa-rss"></i></a>
                                <ul>{% latest_notices 4 as notices %}
                                  {% for notice in notices %}
                                  <li><p><a href="{{ notice.notice_link }}">{{ notice|truncatewords:14 }}</a></p></li>
                                  {% endfor %}
                                </ul>
                            </div>
                        </div>
                </div>

                {% include 'recalls/includes/latest_most_popular.html' with additional_classes="show-for-small-only home-page" column_adjustment_class="collapse-right-2px mobile-standard-padding" %}

        </div><!-- end article content -->
{% endblock %}
