{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
        <div id="recall-content" class="row">

                <div class="medium-9 columns">
                        <div class="show-for-small-only right"><a href="#"><img class="mobile-sign-up" src="{{ STATIC_URL }}recalls/header-recall-alert-signup-mobile.png" /></a></div>
                        <h2 class="page-header">Product Recalls <img class="header-icon" src="{{ STATIC_URL }}recalls/icon-exclamation.png" /><span class="right show-for-medium-up"><a href="#"><img class="sign-up" src="{{ STATIC_URL }}recalls/header-recall-alert-signup.png" /></a></span></h2>
                        <div class="row">
                                <div class="medium-5 columns">
                                        <h3 class="section-header">Consumer Products</h3>
                                        <a href=""><img class="product-image" src="{% thumbnail recall.image 396x0 %}" /></a>
                                        {% include 'includes/social/social_inline_list.html' with additional_classes="show-for-medium-up" %}
                                </div>
                                <div class="medium-7 columns">
                                        <p class="recall-meta">Recall Date: {{ recall.recall_date }}</p>
                                        <h1>{{ recall.recall_subject }}</h1>
                                        <p class="recall-meta">Recall number: {{ recall.recall_number }}</p>

                                        <h4>Name of product:</h4>
                                        <p>{{ recall.descriptions }}</p>

                                        <h4>Hazard:</h4>
                                        <p>{{ recall.hazards }}</p>

                                        <h4>Remedy:</h4>
                                        <p>{{ recall.corrective_summary }}</p>

                                        <h4>Consumer Contact:</h4>
                                        <p>{{ recall.contact_summary }}</p>

                                        {% include 'includes/social/social_inline_list.html' with additional_classes="show-for-small-only" %}
                                </div>
                        </div>

                        {% include 'recalls/includes/latest_most_popular.html' %}
                        {% include 'includes/content/comments.html' %}

                </div><!-- end medium-9 -->

                {% include 'includes/content/sidebar.html' %}

        </div><!-- end article content -->
{% endblock %}
