{% extends 'base.html' %}

{% block content %}
	<div id="recall-content" class="row search-results">

		<div class="medium-9 columns">
			<div class="show-for-small-only right"><a href="#"><img class="mobile-sign-up" src="{{ STATIC_URL }}recalls/header-recall-alert-signup-mobile.png" /></a></div>
			<h2 class="page-header">Product Recalls <img class="header-icon" src="{{ STATIC_URL }}recalls/icon-exclamation.png" /><span class="right show-for-medium-up"><a href="#"><img class="sign-up" src="{{ STATIC_URL }}recalls/header-recall-alert-signup.png" /></a></span></h2>
			<div class="row">
				<div class="small-12 columns">
					<div class="search-results-header">
						<h2>Search Results</h2>
					</div>
					<div id="search-results-list">
						<ul>
							<li>
								<div class="search-result-image">
									<a href=""><img src="http://placehold.it/90x90" /></a>
								</div>
								<div class="search-result-info">
									<p class="recall-meta">Recall Date: Sept. 11, 2014</p>
									<h3><a href="">Kidde Recalls Smoke and Combination Smoke/CO Alarms Due to Alarm Failure</a></h3>
									<p class="recall-meta">Recall number: 14-275</p>
								</div>
								<div class="search-result-detail">
									<a href="">View Details <i class="fa fa-angle-right fa-2x"></i></a>
								</div>
							</li>
							<li>
								<div class="search-result-image">
									<a href=""><img src="http://placehold.it/90x90" /></a>
								</div>
								<div class="search-result-info">
									<p class="recall-meta">Recall Date: Sept. 11, 2014</p>
									<h3><a href="">Kidde Recalls Smoke and Combination Smoke/CO Alarms Due to Alarm Failure</a></h3>
									<p class="recall-meta">Recall number: 14-275</p>
								</div>
								<div class="search-result-detail">
									<a href="">View Details <i class="fa fa-angle-right fa-2x"></i></a>
								</div>
							</li>
							<li>
								<div class="search-result-image">
									<a href=""><img src="http://placehold.it/90x90" /></a>
								</div>
								<div class="search-result-info">
									<p class="recall-meta">Recall Date: Sept. 11, 2014</p>
									<h3><a href="">Kidde Recalls Smoke and Combination Smoke/CO Alarms Due to Alarm Failure</a></h3>
									<p class="recall-meta">Recall number: 14-275</p>
								</div>
								<div class="search-result-detail">
									<a href="">View Details <i class="fa fa-angle-right fa-2x"></i></a>
								</div>
							</li>
							<li>
								<div class="search-result-image">
									<a href=""><img src="http://placehold.it/90x90" /></a>
								</div>
								<div class="search-result-info">
									<p class="recall-meta">Recall Date: Sept. 11, 2014</p>
									<h3><a href="">Kidde Recalls Smoke and Combination Smoke/CO Alarms Due to Alarm Failure</a></h3>
									<p class="recall-meta">Recall number: 14-275</p>
								</div>
								<div class="search-result-detail">
									<a href="">View Details <i class="fa fa-angle-right fa-2x"></i></a>
								</div>
							</li>
							<li>
								<div class="search-result-image">
									<a href=""><img src="http://placehold.it/90x90" /></a>
								</div>
								<div class="search-result-info">
									<p class="recall-meta">Recall Date: Sept. 11, 2014</p>
									<h3><a href="">Kidde Recalls Smoke and Combination Smoke/CO Alarms Due to Alarm Failure</a></h3>
									<p class="recall-meta">Recall number: 14-275</p>
								</div>
								<div class="search-result-detail">
									<a href="">View Details <i class="fa fa-angle-right fa-2x"></i></a>
								</div>
							</li>																
						</ul>
					</div>
				</div>
			</div>

			{% include 'recalls/includes/latest_most_popular.html' %}
			{% include 'includes/content/comments.html' %}

		</div><!-- end medium-9 -->

		{% include 'includes/content/sidebar.html' %}

	</div><!-- end article content -->
{% endblock %}