{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
<div id="recall-content" class="row">
  <div class="medium-9 columns">
    <div class="row">
      <div class="medium-12 columns show-for-medium-up">
        <img src="{{ STATIC_URL }}img/coming-soon-desktop.png">
      </div>
      <div class="small-12 small-centered columns show-for-small-only">
        <img src="{{ STATIC_URL }}img/coming-soon-mobile.png">
      </div>
    </div>
  </div><!-- end medium-9 -->
  {% include 'includes/content/sidebar.html' %}
</div><!-- end article content -->
{% endblock %}
