{% extends 'base.html' %}{% load core %}

{% block title %}Sign Up for Recall Alerts | {{ block.super }}{% endblock %}

{% block extra_meta %}
<meta name="ROBOTS" content="NOINDEX">
{% endblock %}

{% block content %}
    <div id="recall-signup-content" class="row">
      <div class="medium-9 columns sb-resize-9">
        <h2>Alerts Newsletter</h2>
  
        <div id="recall-signup-container">
          <h4>Enter your email address below to subscribe to coverage.</h4>
          <form id="recall-signup-form">
            <input type="email" placeholder="Enter email address" id="id_email">
            <button class="btn" type="submit" id="id_submit">Sign Up <i class="fa fa-angle-right"></i></button>
            <label for="id_email"></label>
          </form>
          <p>By subscribing to SafeBee newsletters, you agree to our <a href="/terms/">Terms &amp; Conditions</a> and <a href="/privacy/">Privacy Policy</a></p>
        </div>

        <div class="mobile-padding">{% include 'includes/content/recommended.html' %}</div>
      </div><!-- end medium-9 -->

      {% include 'includes/content/sidebar.html' %}

    </div><!-- end newsletter content -->
{% endblock %}

{% block extra_js_bottom %}
<script src="{{ STATIC_URL }}js/vendor/jquery.ajaxchimp.min.js"></script>
<script>
function mcSignupCallback(resp) {
  if (resp.result === 'success') {      
    $("#id_email").attr("disabled", true);  
    var submit = $("#id_submit");
    submit.css('background-color', '#47a8cc');
    submit.attr("disabled", true);
    submit.text("Thanks, we'll be in touch!");
  }
}

$('#recall-signup-form').ajaxChimp({
    url: '{% print_setting 'RECALL_SIGNUP_MAILCHIMP_URL' %}',
    callback: mcSignupCallback
});
</script>
{% endblock %}