{% extends 'base.html' %}

{% block extra_js_bottom %}
<script src="{{ STATIC_URL }}js/vendor/select2.min.js"></script>
<script>

function json_to_select(url, select_selector) {
/*
 Fill a select input field with data from a getJSON call
 Inspired by: http://stackoverflow.com/questions/1388302/create-option-on-the-fly-with-jquery
*/
  $.getJSON(url, function(data) {
    var opt=$(select_selector);
    var old_val=opt.val();
    opt.html('');
    $.each(data, function () {
      opt.append($('<option/>').val(this.id).text(this.value));
    });
    opt.val(old_val);
    opt.change();
  })
}


$(function(){
});

$(document).ready(function() {

  $(".select2").select2();

  $('#id_vehicle_make').change(function(){
    json_to_select('{% url 'recalls_car_models' %}?make_id=' + $(this).val(), '#id_vehicle_model');
  });

  $('#id_vehicle_model').change(function(){
    json_to_select('{% url 'recalls_car_years' %}?model_id=' + $(this).val(), '#id_vehicle_year');
  });

});</script>
{% endblock %}

{% block extra_css_top %}
<link href="{{ STATIC_URL }}css/select2/select2.css" rel="stylesheet"/>
{% endblock %}

{% block notifications %}
{% if messages %}
{% for message in messages %}
<div data-alert class="alert-box {{ message.tags }}">
  {{ message }}
  <a href="#" class="close">&times;</a>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<div id="recall-content" class="row">
  <div class="medium-9 columns">
    <h2 class="page-header show-for-medium-up">Product Recalls <img class="header-icon" src="{{ STATIC_URL }}recalls/icon-exclamation.png" /></h2>
    <div class="row subscribe">
      <div class="medium-4 columns show-for-medium-up">
        <img src="{{ STATIC_URL }}recalls/subscribe_family_image.jpg" />
      </div>
      <div class="small-12 medium-8 columns">
        <h1>Sign Up for Recall &amp; Safety Alerts</h1>
        <p class="show-for-small-only"><img src="{{ STATIC_URL }}recalls/subscribe_family_image.jpg" /></p>
        <p>Receive recall and safety information alerts via email and text messages. Please select from the categories below and enter your email address and phone number. When a new alert occurs, you’ll be the first to know.</p>
        <p>After signing up, a confirmation email will be sent asking you to confirm your subscription. Your email address will not be shared with any 3rd parties and you’ll only receive content from the categories you selected.</p>
      </div>
      <form id="options-form" url="{% url 'recalls_signup' %}" method="post" data-abide>
        {% if form.non_field_errors %}
            <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li class="non-field-error"><i class="fa fa-times-circle"></i> {{ error|escape }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% csrf_token %}
        <div class="medium-8 columns">
          <h2><span class="highlight">STEP 1:</span> Select the types of alerts you would like to receive</h2>
          <div id="subscribe-alert-box">
            <h3>Check boxes to receive alerts</h3>
            <div class="input-container">
              <div class="small-12 medium-6 columns collapse-left collapse-right-mobile">
                {{ form.email.errors }}
                <label for="id_email_alerts">Email alerts</label>
                <input id="id_email" name="email" type="email" placeholder="Enter email address" />
                <small class="error"><i class="fa fa-times-circle"></i> Please enter a valid Email address.</small>
              </div>
              <div class="small-12 medium-6 columns collapse-right text-messages">
                {{ form.phone_number.errors }}
                <label for="id_phone_alerts">Text messages</label>
                <input id="id_phone_number" name="phone_number" type="text" placeholder="Enter phone number" pattern="^\d{3}-?\d{3}-?\d{4}$" />
                <small class="error"><i class="fa fa-times-circle"></i> Please enter a valid Phone Number.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="small-12 columns" data-equalizer>
          <h2><span class="highlight">STEP 2:</span> Select recall alert categories</h2>
          <div class="small-12 medium-4 columns collapse-left collapse-right collapse-left-mobile">
            <div class="option-container" data-equalizer-watch>
              <div class="checkbox-container">
                {{ form.products }}<label for="id_products">Consumer Products</label>
              </div>
              <div class="select-container">
                {{ form.manufacturer }}
                {{ form.product_category }}
              </div>
            </div>
          </div>
          <div class="small-12 medium-4 columns collapse-right collapse-left-mobile">
            <div class="option-container" data-equalizer-watch>
              <div class="checkbox-container">
                {{ form.vehicles }}<label for="id_vehicles">Motor Vehicles</label>
              </div>
              <div class="select-container">
                {{ form.vehicle_make }}
                {{ form.vehicle_model }}
                {{ form.vehicle_year }}
              </div>
            </div>
          </div>
          <div class="small-12 medium-4 columns collapse-right collapse-left-mobile">
            <div class="option-container" data-equalizer-watch>
              <div class="checkbox-container">
                {{ form.foodndrug }}<label for="id_foodndrug">Food &amp; Drug</label>
              </div>
              <div class="select-container">
                <p>Receive the latest food &amp; drug alerts and keep your family safe.</p>
              </div>
            </div>
          </div>
          <button type="submit">Subscribe <i class="fa fa-angle-right"></i></button>
        </div>
      </form>
    </div>

    {% include 'recalls/includes/latest_most_popular.html' %}

  </div><!-- end medium-9 -->

  {% include 'includes/content/sidebar.html' %}

</div><!-- end article content -->
{% endblock %}
