{% extends 'base.html' %}

{% block extra_js_bottom %}
<script src="{{ STATIC_URL }}js/vendor/select2.min.js"></script>
<script>
$(document).ready(function() { $(".select2").select2(); });
</script>
{% endblock %}

{% block extra_css_top %}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet"/>
{% endblock %}

{% block notifications %}
{% if messages %}
{% for message in messages %}
<div data-alert class="alert-box {{ message.tags }}">
  {{ message }}
  <a href="#" class="close">&times;</a>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<div id="recall-content" class="row">
  <div class="medium-9 columns">
    <h2 class="page-header show-for-medium-up">Product Recalls <img class="header-icon" src="{{ STATIC_URL }}recalls/icon-exclamation.png" /></h2>
    <div class="row subscribe">
      <div class="medium-4 columns show-for-medium-up">
        <img src="{{ STATIC_URL }}recalls/subscribe_family_image.jpg" />
      </div>
      <div class="small-12 medium-8 columns">
        <h1>Sign Up for Recall &amp; Safety Alerts</h1>
        <p class="show-for-small-only"><img src="{{ STATIC_URL }}recalls/subscribe_family_image.jpg" /></p>
        <p>Receive recall and safety information alerts via email and text messages. Please select from the categories below and enter your email address and phone number. When a new alert occurs, you’ll be the first to know.</p>
        <p>After signing up, a confirmation email will be sent asking you to confirm your subscription. Your email address will not be shared with any 3rd parties and you’ll only receive content from the categories you selected.</p>
      </div>
      <form id="options-form" url="{% url 'recalls_signup' %}" method="post">
        {% csrf_token %}
        <div class="medium-8 columns">
          <h2><span class="highlight">STEP 1:</span> Select the types of alerts you would like to receive</h2>
          <div id="subscribe-alert-box">
            <h3>Check boxes to receive alerts</h3>
            {{ form.non_field_errors }}
            <div class="small-12 medium-6 columns collapse-left collapse-right-mobile">
              {{ form.email.errors }}
              {{ form.email_alerts }} <label for="id_email_alerts">Email alerts</label>
              {{ form.email }}
            </div>
            <div class="small-12 medium-6 columns collapse-right">
              {{ form.phone_number.errors }}
              {{ form.phone_alerts }} <label for="id_phone_alerts">Text messages</label>
              {{ form.phone_number }}
            </div>
          </div>
        </div>
        <div class="small-12 columns" data-equalizer>
          <h2><span class="highlight">STEP 2:</span> Select recall alert categories</h2>
          <div class="small-12 medium-4 columns collapse-left collapse-right collapse-left-mobile">
            <div class="option-container" data-equalizer-watch>
              <div class="checkbox-container">
                {{ form.products }}<label for="id_products">Consumer Products</label>
              </div>
              <div class="select-container">
                {{ form.manufacturer }}
                {{ form.product_category }}
              </div>
            </div>
          </div>
          <div class="small-12 medium-4 columns collapse-right collapse-left-mobile">
            <div class="option-container" data-equalizer-watch>
              <div class="checkbox-container">
                {{ form.vehicles }}<label for="id_vehicles">Motor Vehicles</label>
              </div>
              <div class="select-container">
                {{ form.vehicle_make }}
                {{ form.vehicle_model }}
                {{ form.vehicle_year }}
              </div>
            </div>
          </div>
          <div class="small-12 medium-4 columns collapse-right collapse-left-mobile">
            <div class="option-container" data-equalizer-watch>
              <div class="checkbox-container">
                {{ form.foodndrug }}<label for="id_foodndrug">Food &amp; Drug</label>
              </div>
              <div class="select-container">
                <p>Receive the latest food &amp; drug alerts and keep your family safe.</p>
              </div>
            </div>
          </div>
          <button type="submit">Subscribe <i class="fa fa-angle-right"></i></button>
        </div>
      </form>
    </div>

    {% include 'recalls/includes/latest_most_popular.html' %}
    {% include 'includes/content/comments.html' %}

  </div><!-- end medium-9 -->

  {% include 'includes/content/sidebar.html' %}

</div><!-- end article content -->
{% endblock %}
