body {
    font-family: "Open Sans";
}

@media only screen and (min-width: 40.063em) {

    body {
	min-width: 1145px;
	width: 100%;
    }

}

/* Site-width override */
.inner-wrap {

}

ul.rrssb-buttons {
    padding-bottom: 30px;
}

small {
    font-size: 12px;
}

/* Intercept */

.interceptModal {
    text-align: center;
}

.interceptModal map area{
    outline: none;
}

#redirectModalDesktop, #redirectModalMobilePortrait, #redirectModalMobileLandscape {
    text-align: center;
    margin-bottom: 30px;
}

/* Social */
.content .social-inline-list {
    margin: 12px 0px;
}

.content .social-inline-list a {
    color: #fff;
    font-size: 20px;
    padding: 3px 10px;
}

.content .social-inline-list a span.count {
    font-size: 12px;
    margin-left: 20px;
    vertical-align: top;
}

.content .social-inline-list ul {
    line-height: 20px;
    margin-left: 0px;
}

.content .social-inline-list ul li {
    margin: 0px 5px 0px 0px;
    padding: 0px;
    vertical-align: middle;
}

.content .social-inline-list ul li.facebook a {
    background-color: #3d598f;
}

.content .social-inline-list ul li.twitter a {
    background-color: #29b2d6;
}

.content .social-inline-list ul li.pinterest a {
    background-color: #cb222d;
}

.content .social-inline-list ul li.google-plus a {
    background-color: #231f20;
}

a:hover {
    color: #462f5d;
}

h3 {
    padding-top: 10px;
}

#content {
    margin-top: 30px;
}

.orbit-slider {
    background-color: #2ba6cb;
}

.orbit-slider li div {
    padding: 30px 40px;
}

blockquote {
    border: none;
    border-left: 3px solid #ccc;
    color: #4b9cb1;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 21px;
    margin-top: 8px;
    padding: 8px 0px 0px 20px;
}

blockquote > small {
    color: #333333;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px!important;
    font-weight: 400;
}

@media only screen and (min-width: 40.063em) {
blockquote {
    border: none;
    border-left: 3px solid #ccc;
    color: #4b9cb1;
    font-family: "Open Sans";
    font-size: 1.3125em;
    font-weight: bold;
    line-height: 36px;
    margin-top: 8px;
    padding: 8px 0px 0px 20px;
}

blockquote.left {
    border: none;
    border-top: 3px solid #ccc;
    margin-right: 30px;
    padding-left: 0px;
    text-align: right;
    width: 320px;
}

blockquote.right {
    border: none;
    border-top: 3px solid #ccc;
    margin-left: 30px;
    padding-left: 0px;
    text-align: left;
    width: 320px;
}

blockquote > small {
    color: #333333;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
}

img + small, a + small {
    color: #333!important;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

/* PROMO WIDGET STYLES */

.rail-promo-widget {
    /* border: 1px solid #d5d5d5; */
}

.rail-promo-widget h4, .rail-promo-widget h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px!important;
}

.rail-promo-widget h4 {
    font-size: 16px;
}

.rail-promo-widget h5 a {
    color: #111;
}

.rail-promo-widget img {
    margin-right: 0px;
}

.rail-promo-widget div.row {
    padding-bottom: 20px;
}

div.rail.columns {
	padding-left: 0px;
	padding-right: 0px;
}

div.rail div.most-popular div.row-fluid {
	margin-bottom: 20px;
}

.most-popular {
	background-color: #462f5d;
	color: #fff;
	margin: 0px;
	padding: 10px 10px 2px 10px;
}

.most-popular span.counter {
	background-color: #fff;
	color: #462f5d;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 24px;
	padding: 0px 5px;
	position: relative;
	left: 0px;
	bottom: 28px;
}

.most-popular .image-container {
	width: 118px;
	height: 92px;
	margin-right: 10px;
}

.most-popular h5 {
	margin: 0px;
	padding: 0px;
}

.most-popular a {
	color: #fff!important;
}

.most-popular h4 {
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	text-align: middle;
	line-height: 24px;
	margin-bottom: 12px;
}

.rail-item.subscribe {
	background-color: #462f5d;
	color: #fff!important;
	padding: 10px 10px 0px 10px;
	width: 100%;
}

.rail-item.subscribe h4 {
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 15px;
	min-width: 270px;
}

.rail-item.subscribe form {
	margin: 0px;
	min-width: 270px;
}

.rail-item.subscribe input {
	display: inline;
	width: 210px;
}

.rail-item.subscribe button {
	background-color: #8a7b9a;
	padding: 6px 0px 7px 0px;
	width: 50px;
	height: 37px;
}

.rail-item.follow {
	background-color: #462f5d;
	color: #fff!important;
	padding: 10px 20px 2px 20px;
	width: 100%;
}

.rail-item.follow h4 {
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.rail-item.follow a {
	color: #fff!important;
}

.rail-item.follow a i {
	font-size: 38px;
}

.rail-item.follow ul {
	margin-left: 0px;
	min-width: 248px;
	padding: 0px;
}

.rail-item.follow ul li {
	margin: 0px 20px 0px 0px;
	padding: 0px;
}

.rail-item.follow ul li:last-child {
	margin-right: 0px;
}
/* HEADER STYLES */

.header {
    background-color: #f2efe8;
    color: #fff;
    overflow: hidden;
    padding-top: 16px;
}

.header div.row {
    margin-bottom: 0px;
    padding: 0px;
}

.header .logo {
    display: inline;
}

.header span.tagline {
    color: #462f5d;
    display: inline;
    font-size: 18px!important;
    font-weight: 500;
    line-height: 21px;
    margin: 0px 0px 0px 30px;
    padding: 0px;
    width: 300px;
    position: relative;
    top: 10px;
}

.header .logo img {
    height: 88px;
    width: 183px;
}

.header a {
    color: #462f5d;
}

.header a:hover {
    color: #462f5d;
}

.header .nav-large {
    font-family: "Roboto", sans-serif;
    font-weight: bold,
    font-size: 17px;
    text-transform: uppercase;
}

.header .nav-large ul {
    margin: 16px 0px 0px 10px;
    padding: 0px;
}

.header .nav-large ul li {
    border: 1px solid #fff;
    border-right: none;
    border-bottom: none;
    margin: 0px;
    padding: 0px;
}

.header .nav-large ul li:last-child {
    border-right: 1px solid #fff;
}

.header .nav-large a {
    color: #fff;
    padding: 2px 12px;
}

.header .nav-large a.active {
    background-color: #fff;
    color: #462f5d;
}

.header .nav-large a.home {
    background-color: #462f5d;
    color: #fff;
}

.header .nav-large a.home.active, .header .nav-large a.home:hover {
    background-color: #fff;
    color: #462f5d;
}

.header .nav-large a.lifestyle {
    background-color: #e16d19;
}

.header .nav-large a.lifestyle.active, .header .nav-large a.lifestyle:hover {
    background-color: #fff;
    color: #e16d19;
}

.header .nav-large a.food {
    background-color: #e04445;
}

.header .nav-large a.food.active, .header .nav-large a.food:hover {
    background-color: #fff;
    color: #e04445;
}

.header .nav-large a.innovation {
    background-color: #4b9cb1;
}

.header .nav-large a.innovation.active, .header .nav-large a.innovation:hover {
    background-color: #fff;
    color: #4b9cb1;
}

.header .nav-large a.arts {
    background-color: #dea72b;
}

.header .nav-large a.arts.active, .header .nav-large a.arts:hover {
    background-color: #fff;
    color: #dea72b;
}

.header .nav-large a.nature {
    background-color: #7f9e02;
}

.header .nav-large a.nature.active, .header .nav-large a.nature:hover {
    background-color: #fff;
    color: #7f9e02;
}

.header .nav-large a.health {
    background-color: #00558c;
}

.header .nav-large a.health.active, .header .nav-large a.health:hover {
    background-color: #fff;
    color: #00558c;
}

.header .nav-tools form {
    background: none;
    margin: 0px;
    padding: 0px;
    width: 212px;
}

.header .nav-tools form i {
    color: #462f5d;
    position: absolute;
    top: 54px;
    right: 5px;
}

.header .nav-tools form input {
    background: none;
    background-color: #fff;
    border: 1px solid #462f5d;
    box-shadow: none;
    color: #462f5d;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    height: 30px;
    padding: 0px 8px 0px 8px;
}

.header ul.header-social-list {
    font-size: 20px;
    margin-bottom: 16px;
}

.header ul.header-social-list li {
    margin: 0px 0px 0px 10px;
}

@media only screen and (max-width: 40em) {
    div.category-section {
	min-height: 450px;
    }
}

.header .logo-container {
    float: left;
}

.top-bar {
    background: #f2efe8;
    background-color: #f2efe8;
}

.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .contain-to-grid, {
    background-color: #f2efe8;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
}

section.category-list ul li {
    background-color: #462f5d;
    font-family: Tahoma,sans-serif;
    padding-left: 15px;
}

/* FOOTER STYLES */

footer {

}

div.footer-container {
    background-color: #f2efe8;
    color: #462f5d;
    height: 100%;
    padding-top: 24px;
}

div.footer-container div.row:first-child {
    margin-bottom: 20px;
}

div.footer-container div.bottom-logo {
    padding-left: 0px;
}

div.footer-container div.bottom-logo img {
    width: 171px;
    height: 85px;
}

footer ul li {
    font-weight: bold;
    line-height: 0px;
    padding-top: 48px;
}

footer ul.footer-social li {
    color: #462f5d;
    margin: 0px;
    padding-left: 10px;
    padding-top: 42px;
}

footer ul.footer-social li a {
    color: #462f5d!important;
}

footer p {
    font-size: 14px;
    line-height: 22px;
}

footer div.row {
    margin-bottom: 0px;
}

footer ul a {
    color: #462f5d;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    vertical-align: center;
}

/* ARTICLE STYLES */

div.content div.row {
    margin-bottom: 0px;
}

div.content h1 {
    font-family: "Roboto",sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 42px;
    margin-top: 12px;
    margin-bottom: 4px;
}

div.content p {
    color: #4f4f4f;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 32px;
}

div.content h3 {
    font-size: 1.55rem;
}

div.content a {
    color: #462f5d;
    font-weight: 600;
}

.homepage-featured-story p.byline a {
    color: #462f5d;
    font-weight: bold;
}

div.content p.byline {
    color: #848484;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (max-width: 40em) {
    div.content h1 {
	font-size: 28px;
	line-height: 32px;
    }

    div.content p {
	font-size: 16px;
	line-height: 26px;
    }

}

.homepage-featured-story p.byline {
    color: #bebebe;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}

div.content p.subhead {
    font-family: "Open Sans",sans-serif;
}

div.article-content img.primary-image {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.article-content .primary-image-caption {
    float: right;
    font-size: 10px;
    line-height: 12px;
    margin-top: 2px;
}

div.article-content a + small, div.article-content img + small {
    display: block;
}

div.read-next {
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece;
    margin: 0px 0px 30px 0px;
    padding: 28px 0px 8px 4px;
}

div.read-next p {
    color: #636363;
    font-family: "Roboto",sans-serif;
    font-size: 0.875em;
    line-height: 28px;
    text-transform: uppercase;
    vertical-align: middle;
}

div.read-next a {
    color: #462f5d;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: none;
    margin-right: 8px;
}

/* Slideshow Styles */

div.slideshow-content h1 {
    margin-bottom: 2px;
}

div.row.slide-filmstrip {
    margin-top: 40px;
    padding-bottom: 40px;
}

div.row.slide-filmstrip * {
    box-shadow: none;
}

.bx-wrapper .bx-viewport {
    background: none repeat scroll 0 0 #fff;
    border: none!important;
    left: 0px!important;
    transform: 0!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 0 0 0px #fff;
}

.bx-wrapper .bx-prev {
    left: -40px!important;
}

.bx-wrapper .bx-next {
    right: -40px!important;
}

.slide {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

div.slideshow-content p.subhead {
    margin-bottom: 10px;
    font-family: "Open Sans";
    font-size: 18px;
}

.slide-overlay-nav {
    position: absolute;
    top: 50%;
    -webkit-opacity: 0.0;
    -moz-opacity: 0.0;
    opacity: 0.0;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}

.slide-overlay-nav-hover {
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    opacity: 0.75;
}

.slide-overlay-nav.slideshow-previous {
    left: 0px;
}

.slide-overlay-nav.slideshow-next {
    right: 0px;
}

div.slideshow-content h4 {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    margin: 0px 0px -16px 0px;
}

div.slideshow-content p {
    font-size: 16px;
    line-height: 26px;
}

div.slide-nav-top-container {
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 12px;
    padding-bottom: 0px;
}

div.slideshow-content ul.inline-list.navigation {
    margin-bottom: 10px;
}

div.slideshow-content ul.inline-list.navigation li {
    margin-left: 20px;
    padding: 0px;
}

div.slideshow-content ul.navigation li a i, div.slideshow-content div.slide-navigation a i {
    color: #111;
}

div.slideshow-content ul.navigation li i, div.slideshow-content div.slide-navigation i {
    color: #ccc;
}

div.slideshow-content .slide-navigation-small {
    margin-top: 12px;
    padding-bottom: 12px;
}

div.slideshow-content p.slide-img-container small {
    float: right;
    font-size: 11px;
}

div.slideshow-content span.slide-indicator {
    color: #a1a1a1;
    font-family: "Open Sans",sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

div.slideshow-content span.slide-indicator-bottom {
    font-size: 20px;
    line-height: 42px;
}


div.slideshow-content span.slide-indicator-bottom-small {
    font-size: 16px;
    line-height: 36px;
}

/* End of Article/Slideshow Category Grid Section */

#category-section-container {
    border-top: 1px solid #d5d5d5;
    font-family: "Open Sans",sans-serif;
    margin: 60px 0px 0px 0px;
    padding: 30px 0px 15px 0px;
}

#category-section-container h4, #category-section-container h4 a {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2px;
    text-align: left;
    text-transform: uppercase;
}

#category-section-container ul {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

#category-section-container ul li {
    border-bottom: 1px solid #dddddd;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    list-style-type: none;
    margin: 0px;
    padding: 16px 0px;
}

#category-section-container ul li:last-child {
    border-bottom: none;
}

#category-section-container ul li a {
    color: #000;
}

@media only screen and (min-width: 40.063em) {
    .thumbs-row {
        margin-bottom: 20px;
    }
}

/* Stream Item Index Styles */

.stream-item-list.page-1 {
    border-top: 1px solid #ccc;
    padding-top: 40px;
}

div.stream-item-list.columns {
    padding-left: 0px;
    padding-right: 0px;
}

.stream-item-list .stream-item-rail {
    padding-left: 0px;
    padding-right: 0px;
}

div.stream-item-index h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

div.stream-item-index h2 {
    font-family: "Roboto", sans-serif;
}

div.stream-item-index h3,h4,h5 {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 600;
}

div.stream-item-index h2 {
    font-size: 2.25em;
}

div.stream-item-index h3 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 2px;
    padding-top: 0px;
    vertical-align: top;
}

div.stream-item-index h4 {
    font-size: 1.25em;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #111;
}

.stream-item h4 a, .stream-item h3 a {
    color: #111!important;
}

div.stream-item-index div.featured-story h2 a, div.featured-stories-row h4 a {
    color: #111;
}

div.row {
    margin-bottom: 24px;
}

h1.author {
    background-color: #462f5d;
}

h1.nature {
    background-color: #7f9e02;
}

h1.arts {
    background-color: #dea72b!important;
}

h1.lifestyle {
    background-color: #e16d19;
}

h1.innovation {
    background-color: #4b9cb1;
}

h1.food {
    background-color: #e04445;
}

h1.health {
    background-color: #00558c;
}

h4.category-header {
    font-family: "Open Sans", sans-serif!important;
    font-size: 22px!important;
    font-weight: 800!important;
}

.header a.nature:hover, .header a.nature.active {
    border-bottom: 0px solid #7f9e02;
}

.header a.arts:hover, .header a.arts.active {
    border-bottom: 0px solid #dea72b;
}

.header a.lifestyle:hover, .header a.lifestyle.active {
    border-bottom: 0px solid #e16d19;
}

.header a.innovation:hover, .header a.innovation.active {
    border-bottom: 0px solid #4b9cb1;
}

.header a.food:hover, .header a.food.active {
    border-bottom: 0px solid #e04445;
}

.header a.health:hover, .header a.health.active {
    border-bottom: 0px solid #00558c;
}

h4.nature, h4.nature a { 
    color: #7f9e02;
}

h4.arts, h4.arts a { 
    color: #dea72b;
}

h4.lifestyle, h4.lifestyle a {
    color: #e16d19;
}

h4.innovation, h4.innovation a {
    color: #4b9cb1;
}

h4.food, h4.food a {
    color: #e04445;
}

h4.health, h4.health a {
    color: #00558c;
}

/* Home Page Styles */

div.homepage-category-section ul li a {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

div.homepage-category-section ul li:first-child a {
    font-size: 18px;
    line-height: 24px;
}

div.homepage-featured-story h2 {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
}

div.homepage-category-section {
    border: none;
    padding-bottom: 30px;
}

@media only screen and (max-width: 40em) {
    div.homepage-featured-story h2 {
	font-size: 30px;
	line-height: 32px;
    }

    div.featured-stories-row-item {
	min-height: 235px;
    }

    div.homepage-category-section {
	border: none;
	padding-bottom: 0px;
    }
}

div.homepage-category-section h4 {
    line-height: 18px;
}

div.homepage-category-section:last-child {
    padding-bottom: 0px;
}

div.homepage-category-section ul {
    margin: 0px;
    padding: 0px;
}

div.homepage-category-section ul li {
    border-bottom: 1px solid #e5e5e5;
    list-style-type: none;
    padding: 8px 0px;
}

div.homepage-category-section ul li img {
    display: block;
    margin-bottom: 8px;
}

div.homepage-category-section ul li:last-child {
    border-bottom: none;
}

div.homepage-featured-story {
    margin: 0px;
    padding: 0px 0px 38px 0px;
}

@media only screen and (max-width: 40em) {
    div.homepage-category-item {
	margin-bottom: 30px;
    }

    div.homepage-featured-story {
	margin: 0px;
	padding: 0px 0px 0px 0px;
    }

}

div.homepage-featured-story h3 {
    color: #2698ab;
}

div.homepage-featured-story h3, div.homepage-category-section h4 {
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin: 0px;
    padding: 0px;
}

div.homepage-featured-story p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 24px;
}


div.content-module-section {
    border-top: 1px solid #e5e5e5;
    margin-top: -20px;
    padding-top: 40px;
}

div.content-module-section h4 {
    font-size: 18px;
}

div.content-module-item {
    margin-bottom: 40px;
}

div.content-module-section div.row, div.content-module-section div.row-fluid {
    clear: both;
}

div.content-module-section div.row:last-child, div.content-module-section div.row-fluid:last-child {
    padding-bottom: 0px;
}

div.content-module-section h3, div.homepage-featured-story h3 {
    background-color: #462f5d;
    color: #fff;
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0px 0px 20px 0px;
    padding: 4px 12px;
    text-transform: uppercase;
}

div.homepage-featured-story h3 {
    background-color: #50612a;
    float: none;
}

div.stream-item-index div.featured-story p.description {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

div.stream-item-index div.row-fluid {
    margin-bottom: 20px!important;
}

div.stream-item-index h1 {
    color: #fff;
    font-size: 1.875em;
    font-weight: 300!important;
    margin: 0px;
    padding: 8px 15px 8px 15px;
    text-transform: uppercase;
    width: 100%;
}

@media only screen and (max-width: 40em) {
    div.stream-item-index h1 {
	font-size: 22px;
    }

    div.stream-item-index h2 {
	font-size: 28px!important;
    }
   
    div.stream-item-index h3 {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 2px;
    }

    div.stream-item-index h4 {
	font-size: 16px!important;
	margin-bottom: 10px;
    }

    div.content-module-section h3, div.homepage-featured-story h3 {
	font-size: 18px;
	float: none;
	text-align: center;
    }
}

div.stream-item-index h1 a {
    color: #fff;
}

div.stream-item-index div.featured-stories-row h4 {
    font-size: 20px;
}

div.stream-item {
    padding-bottom: 40px;
}

div.stream-item-index a {
    color: #462f5d;
}

div.stream_item h4 {
    margin-bottom: 0px;
}

div.stream_item h4 a {
    color: #111;
}

div.stream_item p {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}

div.stream-item-index p.byline {
    color: #bebebe;
    font-size: 15px;
    font-weight: 500;
}

/* Widget Styles */

div.rail-item {
    margin-bottom: 20px;
}

div.rail-item div.featured-promo-module h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

div.rail-item div.featured-promo-module h3 a {
    color: #111;
}

div.rail-item div.featured-promo-module ul {
    margin: 0px;
    padding: 0px;
}

div.rail-item div.featured-promo-module ul li {
    list-style-type: none;
}

div.rail-item h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 40em) {
    .thumbs-row a.th {
        margin-bottom: 20px;
    }
}

.tab-bar {
    background: none repeat scroll 0 0 #f2efe8;
    padding: 10px 0px 10px 10px;
    margin-bottom: 10px;
    height: 86px;
}

.tab-bar .social-inline-list {
    position: absolute;
    right: 20px;
    top: 29px;
}

.tab-bar .social-inline-list a {
    color: #462f5d;
}

.tab-bar .social-inline-list ul {
    display: inline;
}

.tab-bar .social-inline-list ul li {
    display: inline;
    float: none;
    list-style-type: none;
    margin-left: 10px;
}

.tab-bar .toggle {
    float: right;
    margin-left: 20px;
}

.tab-bar a {

}

.right-small {
    height: 64px;
    border-left: none;
    padding: 20px 0px 0px 0px;
}

.off-canvas-list {
    overflow: hidden;
}

.off-canvas-list li.nav.active {
 border-left: 7px solid #333;
}

.off-canvas-list li.lifestyle {
    border-left: 7px solid #e16d19;
}

.off-canvas-list li.lifestyle.active {
    background-color: #e16d19;
    color: #fff;
}

.off-canvas-list li.food {
    border-left: 7px solid #e04445;
}

.off-canvas-list li.food.active {
    background-color: #e04445;
    color: #fff;
}

.off-canvas-list li.innovation {
    border-left: 7px solid #4b9cb1;
}

.off-canvas-list li.innovation.active {
    background-color: #4b9cb1;
    color: #fff;
}

.off-canvas-list li.arts {
    border-left: 7px solid #dea72b;
}

.off-canvas-list li.arts.active {
    background-color: #dea72b;
    color: #fff;
}

.off-canvas-list li.nature {
    border-left: 7px solid #7f9e02;
}

.off-canvas-list li.nature.active {
    background-color: #7f9e02;
    color: #fff;
}

.off-canvas-list li.health {
    border-left: 7px solid #00558c;
}

.off-canvas-list li.health.active {
    background-color: #00558c;
    color: #fff;
}

.off-canvas-list li.search-box {
    font-family: FontAwesome;
}

.off-canvas-list li.search-box label {
    font-family: "Open Sans";
}

.off-canvas-list li.search-box form {
}

.off-canvas-list li.search-box input {
    background-color: #767676;
    border: none;
    box-shadow: none;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
    width: 92%;
}

/* Pagination styles */
ul.pagination {
    font-size: 0.875em;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 700;
    display: block;
    margin-left: 1em;
}

ul.pagination li {
    color: #462f5d;
    font-size: 0.875rem;
}

ul.pagination li.unavailable a {
    color: #CCC;
    cursor: default;
}

ul.pagination li a {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    color: #462f5d;
    display: block;
    padding: 10px 18px;
}

ul.pagination li.unavailable.ellipsis a {
    border: none;
    font-weight: bold;
}

ul.pagination li.current a {
    background: none repeat scroll 0 0 #462f5d;
    color: #fff;
    cursor: default;
    font-weight: bold;
}

/* Google CSE */

.header .nav-tools table {
	background: none;
	background-color: clear;
	padding: 0px;
	margin: 0px;
}

/**
 * Minimalist theme
 *
 */
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 0px;
  width: 212px;
}
.cse .gsc-control-wrapper-cse,
.gsc-control-wrapper-cse {
  width: 212px;
}
.cse .gsc-branding,
.gsc-branding {
  display: none;
}
/* Selector for entire element. */
.cse .gsc-control-cse,
.gsc-control-cse {
  font-family: Arial, sans-serif;
  background-color: clear;
  border: 1px solid blue;
}
.gsc-control-cse .gsc-table-result {
  font-family: Arial, sans-serif;
}
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
/* Search form */
.cse form.gsc-search-box,
form.gsc-search-box {
  padding: 0px;
  margin-bottom: 0px;
}
.cse .gsc-branding-text,
.gsc-branding-text {
  color: #000000;
}
/**
 * Table cell containing the search input.
 * 12 pixels added to account for the horizontal padding on the input.
 */
.cse table.gsc-search-box td.gsc-input,
table.gsc-search-box td.gsc-input {
  padding-right: 0px;
}
.cse .gsc-search-box,
.gsc-search-box {
  border-collapse: collapse;
}
/* Search input */
.cse input.gsc-input,
input.gsc-input {
  font-family: inherit;
  border: 1px solid #BBB;
  padding: 3px 6px;
  width: 100%!important;
  font-size: 16px;
}

/* Base tab selector styles */
.cse .gsc-tabHeader,
.gsc-tabHeader {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  padding: 2px 8px 0 8px;
}
/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
  background-color: #777777;
  border: 1px solid;
  border-color: #777777;
  border-bottom: none;
  color: #ffffff;
}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
  background-color: #333333;
  border: 1px solid;
  border-color: #333333;
  border-bottom: none;
  color: #ffffff;
}
/* This is the tab bar bottom border. */
.cse .gsc-tabsArea,
.gsc-tabsArea {
  margin-top: 1em;
  border-bottom: 1px solid #333333;
  padding: 0;
}
/* Inactive refinement */
.cse .gsc-refinementHeader.gsc-refinementhInactive,
.gsc-refinementHeader.gsc-refinementhInactive {
  color: #444444;
}
.cse .gsc-resultsHeader,
.gsc-resultsHeader {
  margin: 0;
  border: block;
}
/* Wrapper for all results */
.cse .gsc-results,
.gsc-results {
  width: 100%;
  margin-top: 1em;
}
/* Uber-wrapper for a result. Add padding to elements within a result block */
.cse .gs-result div.gs-title,
div.gs-title,
.cse .gs-result .gs-snippet,
.gs-result .gs-snippet,
.cse .gs-result .gs-visibleUrl,
.gs-result .gs-visibleUrl,
.cse .gs-spelling,
.gs-spelling {
  padding: 0;
}
/* Font size */
.cse .gs-result .gs-snippet,
.gs-result .gs-snippet,
.cse .gs-spelling-original,
.gs-spelling-original {
  font-size: 14px;
  line-height: 18px;
}
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column {
  padding: 0 0 0 .5em;
  border-left: 1px solid;
  border-color: #ffffff;
  border-bottom: 0px solid;
  margin-bottom: 1em;
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result.gsc-promotion:hover,
.gsc-results .gsc-imageResult-classic:hover,
.gsc-results .gsc-imageResult-column:hover {
  border-left: 1px solid;
  border-color: #000000;
  border-bottom: 0px solid;
}
/* Set link colors. */
.cse .gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link,
.cse .gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:link b,
.cse .gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited,
.cse .gs-webResult.gs-result a.gs-title:visited b,
.gs-webResult.gs-result a.gs-title:visited b,
.cse .gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover,
.cse .gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b,
.cse .gsc-cursor-page,
.gsc-cursor-page,
.cse .gsc-trailing-more-results:link,
.gsc-trailing-more-results:link,
.cse .gs-spelling a,
.gs-spelling a {
  color: #444444;
}
.cse .gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active,
.cse .gs-webResult.gs-result a.gs-title:active b,
.gs-webResult.gs-result a.gs-title:active b,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b {
  color: #777777;
}
/* Snippet text color */
.cse .gs-webResult .gs-snippet,
.gs-webResult .gs-snippet,
.gs-fileFormatType,
.gs-imageResult .gs-snippet {
  color: #333333;
}

/* Size text color */
.gs-imageResult .gs-size,
.gs-imageResult .gs-size {
  color: #333333;
}

/* URL text color */
.cse .gs-webResult .gs-visibleUrl,
.gs-webResult .gs-visibleUrl,
.cse .gs-webResult .gs-visibleUrl-short,
.gs-webResult .gs-visibleUrl-short,
.gs-imageResult .gs-visibleUrl,
.gs-imageResult .gs-visibleUrl-short {
  color: #000000;
  font-weight: bold;
}
/* Pagination container centered */
.cse .gsc-cursor-box,
.gsc-cursor-box {
  border-top: 1px dotted;
  border-color: #333333;
  padding: .5em 0 0 .5em;
  text-align: left;
}
/* Selected pagination */
.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page,
.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
  color: #fff;
  background-color: #333333;
  text-shadow: 0 1px 1px #000;
  padding: 0 5px;
}
/*Promotion Settings*/
/* The entire promo */
.cse .gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion {
  background-color: #E6E6E6;
  border-color: #CCCCCC;
}
/* Promotion links */
.cse .gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link,
.cse .gs-promotion a.gs-title:link *,
.gs-promotion a.gs-title:link *,
.cse .gs-promotion .gs-snippet a:link,
.gs-promotion .gs-snippet a:link {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited,
.cse .gs-promotion a.gs-title:visited *,
.gs-promotion a.gs-title:visited *,
.cse .gs-promotion .gs-snippet a:visited,
.gs-promotion .gs-snippet a:visited {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover,
.cse .gs-promotion a.gs-title:hover *,
.gs-promotion a.gs-title:hover *,
.cse .gs-promotion .gs-snippet a:hover,
.gs-promotion .gs-snippet a:hover {
  color: #444444;
}
.cse .gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active,
.cse .gs-promotion a.gs-title:active *,
.gs-promotion a.gs-title:active *,
.cse .gs-promotion .gs-snippet a:active,
.gs-promotion .gs-snippet a:active {
  color: #00CC00;
}
/* Promotion snippet */
.cse .gs-promotion .gs-snippet,
.gs-promotion .gs-snippet,
.cse .gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right,
.cse .gs-promotion .gs-title .gs-promotion-title-right *,
.gs-promotion .gs-title .gs-promotion-title-right * {
  color: #333333;
}
/* Promotion url */
.cse .gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl {
  color: #00CC00;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {
  background: #eee;
}
.gsc-completion-container {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: white;
  border: 1px solid #BBB;
  margin-left: 0;
  margin-right: 0;
  /* The top, left, and width are set in JavaScript. */
}
.gsc-completion-title {
  color: #0000CC;
}
.gsc-completion-snippet {
  color: #333333;
}

/* Full URL */
.gs-webResult div.gs-visibleUrl-short,
.gs-promotion div.gs-visibleUrl-short {
  display: none;
}
.gs-webResult div.gs-visibleUrl-long,
.gs-promotion div.gs-visibleUrl-long {
  display: block;
}

.gsc-rating-bar {
  display: inline-block;
  width: 54px;
  height: 10px;
  background: transparent url(/cse/images/cse_snippets_stars.png) -52px -52px no-repeat;
  margin: 3px 0 0 0;
}

.gsc-rating-bar span {
  display: inline-block;
  height: 10px;
  background: transparent url(/cse/images/cse_snippets_stars.png) 0 -52px no-repeat;
  padding: 4px 0 0 0;
}

.gsc-reviewer {
  color: #222;
}

.gsc-author {
  color: #222;
}

.gsc-table-cell-thumbnail,
.gs-promotion-image-cell {
  padding: 0 0 0 6px;
}

.gsc-option-menu-item-highlighted {
  background-color: #eee;
}

/* Facet box css */
.gsc-context-box {
  font-size: 83%;
  margin-top: 3px;
  border-collapse: collapse;
}

.gsc-context-box .gsc-col {
  padding:1px 0;
  white-space: nowrap;
  vertical-align: middle;
}

.gsc-context-box .gsc-facet-label {
  width: 65px;
  padding-left: 2px;
  text-decoration: underline;
  color: #333333;
  cursor: pointer;
}

.gsc-context-box .gsc-chart {
  width: 32em;
  padding: 3px;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
}

.gsc-context-box .gsc-top {
  border-top: 1px solid #777777;
}

.gsc-context-box .gsc-bottom {
  border-bottom: 1px solid #777777;
}

.gsc-context-box .gsc-chart div {
  background: #777777;
  height: 9px;
}

.gsc-context-box .gsc-facet-result {
  color: #333333;
  width: 30px;
  text-align: right;
  padding-right: 5px;
}

/* Universal one box css. */
.gsc-usr-group-thumbnail {
  display: inline-block;
  max-width: 72px;
  max-height: 72px;
}
.gsc-usr-group-thumbnail img {
  max-height: 72px;
  overflow: hidden;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading {
  color: #333333;
  cursor: pointer;
}
.gsc-usr-group {
  min-height: 100px;
  zoom: 1;
  display: block;
  border: 1px solid #ebebeb;
  line-height: 1.24;
  margin-top: -7px;
  margin-bottom: -7px;
  margin-left: 30px;
}
.gsc-usr-group-content {
  padding-top: 1px;
  padding-bottom: 3px;
}
.gsc-usr-group-content-thumbnail {
  display: inline-block;
  vertical-align: top;
}
.gsc-usr-group-head-result {
  display: inline-block;
  padding-left: 6px;
}
.gsc-usr-group-snippet {
  width: 100%;
  height: 3.6em;
  overflow: hidden;
}
.gsc-usr-group-content-results {
  font-size: 12px;
  padding-left: 1px;
  width: 80%;
  padding-top: 5px;
}
.gsc-usr-group-head-results {
  display:inline-block;
  font-size: 13px;
  padding-left: 6px;
  width: 80%;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results {
  font-size: 11px;
  line-height: 10px;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results
b {
  font-size: 14px;
  font-weight: 600;
}

.header table {
	float: right;
}

.header form.gsc-search-box {
	float: right;
}

.header table tr th, .header table tr td {
	padding: 0px;
	margin: 0px;
}

.header td.gsc-search-button {
	width: 0px!important;
}

/* Search button */
.header .cse input.gsc-search-button,
.header input.gsc-search-button {
  visibility: hidden!important;
  display: none!important;
    background: none;
    background-color: #fff;
    border: 1px solid #462f5d!important;
    box-shadow: none;
    color: #462f5d;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    height: 0px;
    padding: 0px;
}

.header div.gsc-clear-button, .header td.gsc-clear-button {
  visibility: hidden!important;
  display: none!important;
}

.header td.gsc-input {
	padding: 0px!important;
	margin: 0px!important;
	width: 212px!important;
}

.header .cse table.gsc-search-box td.gsc-input, table.gsc-search-box td.gsc-input {
    padding-right: 0px!important;
}

.search-box {
	height: 30px;
	
}

ul.off-canvas-list table {
	float: none;
}

ul.off-canvas-list form.gsc-search-box {
	float: none;
}

ul.off-canvas-list table tr th, .header table tr td {
	padding: 0px;
	margin: 0px;
}

ul.off-canvas-list td.gsc-search-button {
	width: 0px!important;
}

/* Search button */
ul.off-canvas-list .cse input.gsc-search-button,
ul.off-canvas-list input.gsc-search-button {
  visibility: hidden!important;
  display: none!important;
    background: none;
    background-color: #fff;
    border: 1px solid #462f5d!important;
    box-shadow: none;
    color: #462f5d;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    height: 0px;
    padding: 0px;
}

ul.off-canvas-list div.gsc-clear-button, .header td.gsc-clear-button {
  visibility: hidden!important;
  display: none!important;
}

ul.off-canvas-list td.gsc-input {
	padding: 0px!important;
	margin: 0px!important;
	width: 212px!important;
}

ul.off-canvas-list .cse table.gsc-search-box td.gsc-input, table.gsc-search-box td.gsc-input {
    padding-right: 0px!important;
}

/* 404 */
#content-404 h3 {
    background-color: #462f5d;
    color: #fff;
    float: left;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
    padding: 4px 12px;
    text-transform: uppercase;
}

div.banner-row-404 {
    margin-bottom: 60px;
}

#content-404 h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

div.content-404-row-item {
    margin-bottom: 20px;
}

/* Photo Of The Day */
.photooftheday-content {
    margin-top: 50px;
}

.photooftheday-content hr {
    border-color: #000;
    margin: 10px 0px 6px 0px;
}

.photooftheday-content ul {
    margin-bottom: 6px;
}

.photooftheday-nav-container {
    font-size: 14px;
    height: 60px;
    line-height: 50px;
    text-align: right;
}

.photooftheday-nav-container span {
    margin: 0px 8px;
}

span.photooftheday-nav-controls {
    margin: 0px!important;
}

.photooftheday-nav-controls a {
    color: #555!important;
    font-size: 16px!important;
    font-weight: 700;
}

.photooftheday-nav-controls span.prev i {
    margin-right: 3px;
}

.photooftheday-nav-controls span.next i {
    margin-left: 3px;
}

.photooftheday-nav-controls i {
    vertical-align: -20%;
}

.photooftheday-content h1 {
    margin-top: 6px!important;
    margin-bottom: 0px!important;
}

.photooftheday-content h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}

.photooftheday-content h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

@media only screen and (max-width: 40em) {

    .primary-image-container {
	margin: 15px 0px 0px 0px;
	width: 100%!important;
	min-width: 100%!important;
    }

    .primary-image-container img {
	text-align: center;

	width: 100%!important;
    }

    .primary-image-caption {
	margin-right: 10px;
    }

    .photooftheday-nav-container, .photooftheday-nav-controls, .photooftheday-nav-controls-container {
        text-align: center;
    }

    .photooftheday-content {
	margin-top: -20px;
    }

    .photooftheday-content p {
	font-size: 12px!important;
	line-height: 22px!important;
    }

    .photooftheday-nav-container {
	height: 24px;
	margin-bottom: 26px;
    }

    .photooftheday-nav-controls span.prev {
	margin-right: 8px;
    }

    .photooftheday-nav-controls span.next {
	margin-left: 8px;
    }

    .photooftheday-nav-controls-container {
	margin-bottom: 20px!important;
    }
}

/* "More From The Grapevine" article thumbnails */
.article-content div.more-from-thumbnails {
    margin-bottom: 40px;
    margin-top: -10px;
}

@media only screen and (min-width: 40.063em) {

    .article-content div.more-from-thumbnails {
	padding-left: 0px!important;
    }

}

.article-content div.more-from-thumbnails img {
    display: block;
    margin-bottom: 8px;
}

.article-content div.more-from-thumbnails a {
    font: 600 16px/21px "Open Sans";
}

div.rail-item.lifestyle {
    background-color: #e16d19;
}

div.rail-item.food {
    background-color: #e04445;
}

div.rail-item.innovation {
    background-color: #4b9cb1;
}

div.rail-item.arts {
    background-color: #dea72b;
}

div.rail-item.nature {
    background-color: #7f9e02;
}

div.rail-item.health {
    background-color: #00558c;
}
