{% extends 'content.html' %}{% load thumbnail %}

{% block bodyclass %}{{ content_item.category.name|lower }}{% endblock %}

{% block content %}

    <div id="article-content" class="row">
      <div class="medium-9 columns">
        <div class="article-content-well content-package">
          <h1>{{ content_item.title }}</h1>
          <div class="featured-image">{% with content_item.get_primary_featured_item as primary_feature %}
            <a href="{{ primary_feature.get_absolute_url }}">
              <img data-interchange="[{% thumbnail primary_feature.get_image.asset "600x444" crop="smart" %}, (default)], [{% thumbnail primary_feature.get_image.asset "870x417" crop="smart" %}, (medium)]" alt="{{ primary_feature.get_image.alt_text }}" />
              {% include 'includes/social/social_counts.html' with url=primary_feature.get_absolute_url %}
            </a>
            {% if primary_feature.get_image.asset_credit_string %}<small class="credit right"> Photo: {{ primary_feature.get_image.asset_credit_string }}</small>{% endif %}
            <h2><a href="{{ primary_feature.get_absolute_url }}">{{ primary_feature }}</a></h2>
          </div><!-- end featured-image -->
          {% endwith %}
          <div class="content-package-grid">

            <ul class="inline-list" data-equalizer>
              {% with content_item.get_featured_items as featured_items %}
	              {% for item in featured_items %}
              <li>
                <a href="{{ item.get_absolute_url }}">
                  <img data-interchange="[{% thumbnail item.get_image.asset "125x100" crop="smart" %}, (default)], [{% thumbnail item.get_image.asset "300x201" crop="smart" %}, (medium)]" alt="{{ item.get_image.alt_text }}" />
                  <p data-equalizer-watch>{{ item }}</p>
                </a>
              </li>
		              {% if forloop.counter|divisibleby:3 %}
		    </ul>
            <ul class="inline-list" data-equalizer>
		              {% endif %}
	              {% endfor %}
              {% endwith %}
            </ul><!-- end row 4 -->
          </div><!-- end content-package-grid -->

		  {% include 'includes/content/recommended.html' %}

          {% include 'includes/content/comments.html' %}

        </div><!-- end article content well -->
      </div><!-- end medium-9 -->

      {% include 'includes/content/sidebar.html' %}

    </div><!-- end article content -->

{% endblock %}
