{% extends 'content.html' %}{% load thumbnail %}

{% block bodyclass %}{{ content_item.category.name|lower }}{% endblock %}

{% block content %}

    <div id="article-content" class="row">
      <div class="medium-9 columns sb-resize-9">
        <div class="article-content-well content-package">
          <div class="content-package-title-container">
            <h1>{{ content_item.title }}</h1>
            {% include 'includes/social/social_inline_list.html' with additional_classes='show-for-medium-up right fixed-to-bottom' %}
          </div>
          <div class="featured-intro-copy-container">{% with content_item.get_primary_featured_item as primary_feature %}
            <div class="featured-intro-copy-image">
              <img data-interchange="[{% thumbnail content_item.primary_image.asset "600x402" crop="smart" %}, (default)], [{% thumbnail content_item.primary_image.asset "600x402" crop="smart" %}, (medium)]" alt="{{ content_item.primary_image.alt_text }}" />
              {% if content_item.primary_image.asset_credit_string %}<small class="credit"> Photo: {{ content_item.primary_image.asset_credit_string }}</small>{% endif %}
            </div>
            <div class="featured-intro-copy">
              {% if content_item.subhead %}<h2>{{ content_item.subhead }}</h2>{% endif %}
              {{ content_item.intro_copy|safe }}
              {% include 'includes/social/social_inline_list.html' with additional_classes='show-for-small-only' %}
            </div>
          </div><!-- end featured-image -->
          {% endwith %}
          <div class="content-package-grid">

            <ul class="inline-list" data-equalizer>
              {% for item in content_item.featureditem_set.all %}
              <li>
                <a href="{{ item.get_absolute_url }}">
                  <img data-interchange="[{% thumbnail item.get_image.asset "125x100" crop="smart" %}, (default)], [{% thumbnail item.get_image.asset "300x201" crop="smart" %}, (medium)]" alt="{{ item.get_image.alt_text }}" />
                  <p data-equalizer-watch>{{ item }}</p>
                </a>
              </li>
		              {% if forloop.counter|divisibleby:3 %}
		    </ul>
            <ul class="inline-list" data-equalizer>
		              {% endif %}
              {% endfor %}
            </ul><!-- end row 4 -->
          </div><!-- end content-package-grid -->

            {% get_next_content_item content_item as next_item %}
            {% get_previous_content_item content_item as previous_item %}
            <div class="row prev-next-article show-for-medium-up">
            <div class="small-12 collapse" data-equalizer>
                {% if previous_item %}
                <div class="medium-6 columns prev" data-equalizer-watch><a href="{{ previous_item.get_absolute_url }}"><span> <i class="fa fa-angle-left"></i> Prev</span>{{ previous_item }}</a></div>
                {% endif %} {% if next_item %}
                <div class="medium-6 columns next" data-equalizer-watch><a href="{{ next_item.get_absolute_url }}"><span>Next <i class="fa fa-angle-right"></i></span>{{ next_item }}</a></div>
                {% endif %}
            </div>
            </div>

            {% if next_item %}
            <div class="next-mobile-static show-for-small-only">
            <div class="left">
                <div class="top">
                    NEXT FEATURE
                </div>
                <div class="title">
                    <a href="{{ next_item.get_absolute_url }}">{{next_item}}</a>
                </div>
            </div>
            <div class="right">
                <a href="{{ next_item.get_absolute_url }}"><i class="fa fa-angle-right"></i></a>
            </div>
            </div>
            {% endif %}

		  {% include 'includes/content/recommended.html' %}

          {% include 'includes/content/comments.html' %}

        </div><!-- end article content well -->
      </div><!-- end medium-9 -->

      {% include 'includes/content/sidebar.html' %}

    </div><!-- end article content -->

{% endblock %}
