.buzz-content {

	h1 {
		float: left;
		font-size: 26px;
		font-weight: bold;
		margin: 0px 0px 6px 0px;
	}

	.buzz-grid {
		margin-bottom: 40px;

		@media screen and (max-width: $break-small) {
			margin: 0 auto;
			width: 277px;
		}

		.inline-list {
			margin-left: 0px;
			margin-bottom: 3px;
			min-width: 838px;

			@media screen and (max-width: $break-small) {
				min-width: 0;
				width: 100%;
			}

			a {
				background-color: $primary-color;
			}

			li {
				margin: 0px 3px 0px 0px;
				max-width: 277px;

				@media screen and (max-width: $break-small) {
					margin: 0 auto 25px auto;
				}
			}

			li:last-child {
				margin-right: 0px;
			}
		
			p {
				background-color: $primary-color;
				color: #fff;
				font: normal 13px/18px $header-font;
				margin-bottom: 0px;
				padding: 10px 12px;
			}

			span.category {
				display: block;
				font-size: 11px;
				text-transform: uppercase;
			}
		}

	}	

}
