.breadcrumb {

	a {
		color: $link-color;
	}

	font-size: 12px;
	font-weight: 600;
	margin-top: -45px;
	margin-bottom: 20px;
}


div.article-content-well.content-package {
	border-top: none!important;
	overflow: hidden;
	padding-top: 0px!important;

	.featured-image {
		margin-bottom: 50px!important;
		overflow: hidden;

		@media screen and (max-width: $break-small) {
			margin-bottom: 25px!important;
		}

		h1 {
			bottom: 70px!important;

			@media screen and (max-width: $break-small) {
				bottom: 0px!important;
				font: bold 20px $header-font!important;
				margin: 0px;
			}
		}
	}
}

.content-package {

	h1 {
		background-color: $primary-color;
		font: 700 24px/24px $header-bold-font!important;
		color: #fff;
		margin-bottom: 10px;
		padding: 9px 15px 7px 15px;

		a {
			@include link-colors(#fff);
		}

		@media screen and (max-width: $break-small) {
			font: 400 17px/22px $header-bold-font!important;
		}

	}

	h2 {
		clear: both;
		font: bold 34px/44px $header-bold-font;
		margin: 0px;
		padding: 0px;

		a {
			color: #000;
		}

		@media screen and (max-width: $break-small) {
			font: bold 22px/28px $header-bold-font;
			margin-top: 20px!important;
		}
	}

	ul.social-inline-list {
		padding-top: 8px;
	}

	small.credit {
		color: #595959;
		font: 600 11px/11px $paragraph-font!important;
		margin: 2px 0px -1px 0px;
	}

	.content-package-grid {
		border-bottom: 1px solid #b2b2b2;
		clear: both;
		margin-bottom: 15px;
		min-width: 868px;
		padding-bottom: 15px;

		@media screen and (max-width: $break-small) {
			border: none;
			padding-bottom: 0px;

			img {
				float: left;
				margin-right: 10px;
			}

			ul.inline-list {
				margin: 0px;
			}

		}

		ul {

			li:first-child {
				margin-left: 25px;

				@media screen and (max-width: $break-small) {
					margin-left: 0px;
				}
			}

			li {
				margin-left: 20px;
				min-width: 276px;
				width: 276px;

				@media screen and (max-width: $break-small) {
					float: none;
					margin-left: 0px;
					margin-bottom: 25px;
					overflow: hidden;
				}

				p {
					color: #000;
					font: bold 16px/22px $header-font;
					margin-top: 8px;

					@media screen and (max-width: $break-small) {
						margin: 0px;
					}
				}

			}

		}

	}

}
