.about-us {

    .staff-container {
        clear: both;
        margin-bottom: 30px;
    }

    .staff-image {
        float: left;
        margin-right: 20px;
        margin-top: 10px;
        width: 170px;

        img {
            height: 170px;
            width: 170px;
        }
    }
    
    .staff-info-container {
        overflow: hidden;
        margin-top: -10px;
        padding-top: 10px;
    }

    .staff-headline {
        border-bottom: 1px solid #dddddd;
        padding-bottom: 5px;
        margin-bottom: 15px;

        h2 {
            display: inline;
            font: bold 18px/26px $header-bold-font!important;
        }

        ul.inline-list {
            float: right;
            font: 600 14px/26px $paragraph-font;
            margin: 0px!important;
            overflow: visible;
            padding: 0px!important;

            i, a {
                color: $link-color;
                font-size: 34px;
            }

            i {
                position: relative;
                top: -5px;
            }

            li {
                margin: 0px 0px 0px 15px;
                padding: 0px;
            }

        }
    }

    .staff-bio {

        p {
            font: 600 14px/26px $paragraph-font;
            padding-right: 30px;
        }

    }
}