@import "compass/utilities";

$break-small: 640px;

@import "fonts";
@import "header";
@import "footer";
@import "social";
@import "widgets";
@import "pagination";


body {
	background: url('../img/body-bg.png') no-repeat center top;
	font: normal 14px/26px $body-copy-font;

	@media screen and (min-width: $break-small) {
		min-width: 1185px;
		width: 100%;
	}

	@media screen and (max-width: $break-small) {
		background: url('../img/mobile-bg.png') repeat-x center top;
	}
}

a {
	@include link-colors($link-color, $link-hover-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font;
}

p {
	font: normal 14px/26px $body-copy-font;
}

table {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: $break-small) {

	.full-width-mobile {
	    width: 100%;
	}

	.full-width-mobile.columns {
	    padding: 0;
	}

}

.right-off-canvas-menu {
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	ul.off-canvas-list li {
		border-bottom: 1px solid #666;
		clear: both;
		margin: 0;

		a:hover {
			background-color: #666;
		}

		a {
			float: left;
			@include link-colors(#fff, #fff);
			padding: 10px 10px 10px 15px;
			width: 100%;
		}
	}

	ul.inline-list {
		margin: 0;
		padding: 10px;

		li {
			margin: 0px 10px;
			padding: 0px;

			a {
				@include link-colors(#fff, #fff);
			}
		}
	}

}


a.button.disabled {
	background: none;
	margin: 0;
	opacity: 0.5;
	padding: 0;

	i {
		color: #666!important;
	}
}

.module-header {
	font: $module-header-font;
	margin-bottom: 0px;
	position: relative;

	small {
		font-family: "Open Sans", sans-serif;
		position: absolute;
		bottom: 13px;
		right: 0px;
		text-transform: uppercase;
	}
}

.comments, .recommended {
	clear: both;
}