@import "compass/utilities";

@import "partials/variables";
@import "fonts";
@import "header";
@import "footer";
@import "social";
@import "widgets";
@import "pagination";


body {
	background: url('http://static.safebee.com/img/body-bg.png') no-repeat center top;
	font: normal 14px/26px $body-copy-font;

	@media screen and (min-width: $break-small) {
		min-width: 1185px;
		width: 100%;
	}

	@media screen and (max-width: $break-small) {
		background: url('http://static.safebee.com/img/mobile-bg.png') repeat-x center top;
	}
}

a {
	@include link-colors($link-color, $link-hover-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font;
}

p {
	font: normal 16px/28px $body-copy-font;
}

table {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: $break-small) {

	.full-width-mobile {
	    width: 100%;
	}

	.full-width-mobile.columns {
	    padding: 0;
	}

	.collapse-left-mobile {
		padding-left: 0px;
	}

	.collapse-right-mobile {
		padding-right: 0px;
	}

}

.collapse-left {
	padding-left: 0px;
}

.collapse-right {
	padding-right: 0px;
}

.right-off-canvas-menu {
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	ul.off-canvas-list li {
		border-bottom: 1px solid #666;
		clear: both;
		margin: 0;

		a:hover {
			background-color: #666;
		}

		a {
			float: left;
			@include link-colors(#fff, #fff);
			padding: 10px 10px 10px 15px;
			width: 100%;
		}
	}

	ul.inline-list {
		margin: 0;
		padding: 10px;

		li {
			margin: 0px 10px;
			padding: 0px;

			a {
				@include link-colors(#fff, #fff);
			}
		}
	}

}


a.button.disabled {
	background: none;
	margin: 0;
	opacity: 0.5;
	padding: 0;

	i {
		color: #666!important;
	}
}

.module-header {
	font: $module-header-font;
	margin-bottom: 0px;
	position: relative;

	small {
		font-family: "Open Sans", sans-serif;
		position: absolute;
		bottom: 13px;
		right: 0px;
		text-transform: uppercase;
	}
}

.comments, .recommended {
	clear: both;
}

/* NL Popup */
.newsletter_signup_form.modal {
	background-color: #fff;
	border: 12px solid $highlight-color;
	border-radius: 0px;
	box-shadow: 0px 0px 20px #000;
	height: 355px;
	padding: 25px;
	max-width: 675px;
	min-width: 675px;
	z-index: 9999999;

	@media screen and (max-width: $break-small) {
		border-width: 10px;
		height: auto;
		max-width: 280px;
		min-width: 280px;
		padding: 20px 15px;
	}

	a.modal-close {
		background-color: $highlight-color;
		font: bold 24px/24px "Open Sans";
		position: absolute;
		top: -12px;
		right: -12px;
		color: #fff;
		padding: 9px 11px 6px 8px;
		text-decoration: none;

		@media screen and (max-width: $break-small) {
			top: -10px;
			right: -10px;
		}
	}

	label {
		color: #000;
		display: block;
		font: 600 14px/26px $paragraph-font;

		a {
			color: #fff;
		}

		@media screen and (max-width: $break-small) {
			font-size: 12px;
			line-height: 21px;
		}
	}

	h3 {
		color: $primary-color;
		font: bold 28px/40px $header-bold-font;

		@media screen and (max-width: $break-small) {
			font-size: 23px;
			line-height: 31px;
			padding: 0px 5px;
			text-align: center;
		}
	}

	h4 {
		color: #000;
		font: 600 18px/38px $paragraph-font;

		@media screen and (max-width: $break-small) {
			font-size: 15px;
			line-height: 31px;
			margin-bottom: 0px;
			text-align: center;
		}
	}

	img {
		position: absolute;
		right: 22px;
		bottom: 20px;
	}

	div.nl-popup-input-container {
		border-top: 1px solid #000;
		margin: 16px 0px 0px;
		padding-top: 16px;
		width: 400px;

		@media screen and (max-width: $break-small) {
			margin-top: 10px;
			padding-top: 10px;
			width: 232px;
		}

		input[type=email] {
			border: 1px solid #000;
			box-shadow: none;
			font: 500 18px/38px "Open Sans";
			height: 30px;
			margin-right: 15px;
			padding: 0px 5px;
			width: 240px;

			@media screen and (max-width: $break-small) {
				font-size: 14px;
				margin-bottom: 12px;
				width: 232px;
			}

		}

		input[type=checkbox] {
			display: none;
		}

		input[type=checkbox] + label {
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font: 600 14px/38px $paragraph-font;
			padding-left: 24px;
			position: relative;
		}

		input[type=checkbox] + label.add-margin-right {
			margin-right: 10px;
		}

		input[type=checkbox] + label:before {
			content: "";
			display: inline-block;
			width: 18px;
			height: 18px;
			position: absolute;
			left: 0;
			bottom: 10px;
			background-color: #fff;
		}

		input[type=checkbox]:checked + label:before {
			content: "\27
			13";
			font-size: 14px;
			color: #000;
			text-align: center;
			line-height: 18px;
		}

		button[type=submit] {
			background-color: $highlight-color;
			border: 1px solid #fff;
			color: #fff;
			display: block;
			font: normal 20px/38px $header-bold-font;
			margin-top: 22px;
			padding: 3px 10px 2px 10px;
			text-transform: uppercase;

			@media screen and (max-width: $break-small) {
				margin-top: 0px;
				margin-bottom: 0px;
				text-align: center;
				width: 100%;
			}
		}

	}

}


#sidebar {
	min-width: 323px;
}
.sb-resize-9 {
	max-width: 861px;
}
.sb-resize-7 {
	max-width: 664px;
}