#index-content {
	
	h1 {
		background-color: $primary-color;
		color: #fff;
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 10px;
		padding: 4px 15px;
		text-transform: uppercase;

		a {
			@include link-colors(#fff);
		}

		@media screen and (max-width: $break-small) {
			font-size: 17px;
			line-height: 22px;
			padding: 4px 10px;
		}

	}

	#featured-story {
		margin-bottom: 40px;
		position: relative;

		@media screen and (max-width: $break-small) {
			margin-bottom: 30px;
		}

		img {
			position: relative;
		}

		h2 {
			clear: both;
			font: bold 34px/44px $header-bold-font;
			margin: 0px;
			padding: 0px;

			a {
				color: #000;
			}

			@media screen and (max-width: $break-small) {
				font: bold 22px/28px $header-bold-font;
				margin-top: 20px;
			}
		}

		small.credit {
			color: #595959;
			font: 600 11px/11px $paragraph-font!important;
			margin: 2px 0px -1px 0px;
		}

	}

	#story-stream {
		position: static;

		.story {
			clear: both;
			margin-bottom: 30px;
			overflow: hidden;

			@media screen and (max-width: $break-small) {
				margin-bottom: 15px;
			}

			.byline {
				color: #acacac;
				margin-bottom: 12px;

				a {
					color: $primary-color;
					font-weight: 600;
				}
			}

			img {
				float: left;
				margin-right: 20px;

				@media screen and (max-width: $break-small) {
					margin-right: 10px;
					width: 125px;
				}
			}

			h3 {
				font: bold 24px/33px $header-font;

				a {
					color: #222;
				}

				@media screen and (max-width: $break-small) {
					font: bold 16px/22px $header-font;
				}
			}

			p {
				margin-bottom: 0px;
			}

		}

	}

}

#index-content.home-page-all {

	#story-stream {
		margin-top: 20px;
	}

}