.headline-topper.list, .headline-topper.infographic {

	h1 {
		float: none!important;
		font-size: 26px!important;
		margin-bottom: 0px;

		@media screen and (max-width: $break-small) {
			line-height: 32px;
			width: 100%;
		}
	}

	h5 {
		width: 65%;

		@media screen and (max-width: $break-small) {
			font-size: 13px;
			margin-bottom: 0px!important;
		}
	}

} 