#newsletter-content {

    .columns {
        @media screen and (max-width: $break-small) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .mobile-padding {
        @media screen and (max-width: $break-small) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    
    h2 {
        font: bold 34px/44px $header-bold-font;

        @media screen and (max-width: $break-small) {
            font: bold 22px/28px $header-bold-font;
            margin: 10px 0px 20px 10px;
        }
    }

}

#newsletter-signup-container {

    background: url('../../img/newsletter-signup-background.png') no-repeat;
    height: 400px;
    position: relative;
    margin-bottom: 40px;
    width: 838px;

    @media screen and (max-width: $break-small) {
        background: url('../../img/newsletter-signup-background-mobile.png') no-repeat;
        height: 567px;
        width: 320px;
        margin: 0 auto 30px auto;
    }

    h1 {
        color: #fff;
        font: bold 23px/30px $header-bold-font;
        position: absolute;
        top: 55px;
        left: 30px;
        text-align: center;
        width: 320px;

        @media screen and (max-width: $break-small) {
            font: bold 18px/23px $header-bold-font;
            top: 12px;
            left: 15px;
            width: 290px;
        }
    }

    h3 {
        color: #fdbd20;
        font: 600 18px/26px $paragraph-font;
        position: absolute;
        text-align: center;
        top: 55px;
        right: 70px;
        width: 260px;

        @media screen and (max-width: $break-small) {
            font: 600 16px/22px $paragraph-font;
            top: 260px;
            right: 32px;
        }
    }

    form {
        text-align: center;
        position: absolute;
        top: 200px;
        right: 64px;
        width: 270px;

        @media screen and (max-width: $break-small) {
            top: 380px;
            right: 22px;
        }

        input, button {
            text-align: center;
            width: 100%;
        }

        input {
            font: bold 18px/18px $header-bold-font;
            height: 36px;
            margin-bottom: 20px!important;
            padding: 0px;
        }

        label {
            color: #fff;
            font: bold 12px/18px $paragraph-font;
            height: 36px;
        }

        button { 
            background-color: $footer-link-color;
            font: bold 20px/20px $header-bold-font;
            margin-bottom: 5px;
            position: relative;
            top: 0px;
            padding: 7px 0px;

            i {
                font-size: 20px;
                font-weight: bold;
                margin-left: 5px;
            }
        }
    }

    p {
        color: #fff;
        font: 600 9px/15px $paragraph-font;
        position: absolute;
        bottom: 2px;
        right: 64px;
        text-align: center;
        width: 270px;

        a {
            color: #fdbd20;
        }

        @media screen and (max-width: $break-small) {
             right: 22px;
             bottom: 0px;
        }
    }

}