#slideshow-content {
	
	h3.slideshow-title, h1.first-slide {
		font: bold 38px $header-font;
		margin: 0px;

		@media screen and (max-width: $break-small) {
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 5px;
		}
	}

	h5 {
		font: 600 18px $paragraph-font;
		margin-bottom: 6px;

		@media screen and (max-width: $break-small) {
			font-size: 12px;
			margin-bottom: 2px;
		}
	}

	.top-action-row {
		margin-bottom: 5px;

		.byline {
			float: left;
			font-weight: 600;
			margin: 22px 0px 0px 0px;

			@media screen and (max-width: $break-small) {
				font-size: 12px;
				margin-top: 7px;
			}
		}

	}

	#slide {
		border-bottom: 1px solid #ccc;
		margin-bottom: 25px;

		@media screen and (max-width: $break-small) {
			border: none;
			margin: 0 auto;
			max-width: 400px;
		}

		.credit {
			color: #888;
			float: right;
			font-size: 12px;

			@media screen and (max-width: $break-small) {
				font-size: 10px;
				line-height: 18px;
			}
		}
	}

	#bxslider-container {
		clear: both;
		margin-top: 50px;
		position: relative;
	}

	#slide-nav-container {
		margin-bottom: 50px;

		#slide-nav {
			clear: both;
			margin-bottom: 10px;
			overflow: hidden;

			.columns {
				padding: 0px;
			}

					i {
			font-size: 36px;
		}

			span.prev, span.next {
				float: right;
				font-size: 36px;
			}

			span.next {
				margin-left: 25px;
			}

		}

		#slide-caption {
			border-top: 1px solid #ccc;
			clear: both;
			padding-top: 10px;

			h3.slide-title, h1.slide-title {
				font: 600 18px $paragraph-font!important;
			}
		}

		.x-of-y {
			font: bold 34px $header-font;
		}

	}

}

.bx-wrapper {
	margin: 20px auto 40px auto!important;
	position: static!important;

	.bx-viewport {
		border: none!important;
		box-shadow: none!important;
		height: 125px!important;
		position: static!important;
	}

	.bxslider-slide {
		height: 125px!important;
	}

	.bx-controls-direction a {
		background-color: $primary-color;
		color: #fff;
		height: 125px!important;
		line-height: 125px;
		top: 16px!important;
		text-indent: 0px!important;
		text-align: center;
		vertical-align: middle;
		width: 40px!important;
	}

	.bx-prev {
		left: 0px!important;
	}

	.bx-next {
		right: 0px!important;
	}
}

#mobile-slide-nav-container {
	clear: both;
	overflow: hidden;
	text-align: center;

	#mobile-slide-nav {
		margin-top: 10px;

		.x-of-y {
			font: bold 26px $header-font;
			margin: 0px 10px;
		}

		i {
			font-size: 36px;
		}

	}

	#mobile-slide-caption {
		margin-top: 10px;
		text-align: left;

		h3 {
			font: 600 14px $paragraph-font;
		}
	}

}
