ul.social-inline-list {
    line-height: 20px;
    margin: 12px 0px;

    a {
        color: #fff;
        font-size: 20px;
        padding: 4px 10px;
    }

    a span.count {
        font-size: 12px;
        margin-left: 20px;
        vertical-align: top;
    }

    li {
        margin: 0px 5px 0px 0px;
        padding: 0px;
        vertical-align: middle;
    }

    li:last-child {
        margin-right: 0px;
    }

    li.linkedin a {
        background-color: #1179b3;
    }

    li.facebook a {
        background-color: #3d598f;
    }

    li.twitter a {
        background-color: #29b2d6;
    }

    li.pinterest a {
        background-color: #cb222d;
    }

    li.google-plus a {
        background-color: #231f20;
    }
}
