$break-small: 640px;

// Colors
$primary-color: #3B2C3C;
$primary-color-light: #514452;
$highlight-color: #BF511B;
$link-color: #bc4831;
$link-hover-color: #dd782c;
$sidebar-border-color: #f4ecca;
$footer-border-color: #e6d38e;
$footer-link-color: #c7520c;
$copyright-color: #a19671;
$body-copy-color: #000000;
$dark-meta-color: #595959;
$light-meta-color: #878787;
$recall-link-color: #fbca52;
$safebee-honey:         #ffd553;
$safebee-gray:          #777;
$safebee-dark-gray:     #3f2f08;
$safebee-light-blue:    #d4eaf3;
$safebee-blue:          #54acce;
$holiday-red:           #9f2424;
$holiday-green:         #03730d;
$holiday-green-light:   #bbecbf;

// Fonts
$header-font: "Domine", Georgia, serif;
$header-bold-font: "Domine", Georgia, serif;
$paragraph-font: "Open Sans", sans-serif;
$body-copy-font: $paragraph-font;
$featured-headline-font: normal 36px/48px $header-font;
$section-header-font: bold 17px/30px $header-bold-font;
$module-header-font: bold 20px/30px $header-bold-font;
$article-headline-font: normal 42px/60px $header-font;

// mixins
@mixin section-header-style() {
	font: $section-header-font;
	text-transform: uppercase;
}