        <div class="row">

          <div id="footer">

            <div class="medium-2 columns show-for-medium-up">
              <h5>Quick Links</h5>
              <ul>
                <li><a href="/about/">About Us</a></li>
                <li><a href="/contact/">Contact Us</a></li>
                <li><a href="/press/">Press</a></li>
                <li><a href="/privacy/">Privacy</a></li>
                <li><a href="/sitemap.xml">Sitemap</a></li>
                <li><a href="/terms/">Terms of Service</a></li>
              </ul>
            </div>

            <div class="medium-2 columns show-for-medium-up">
              <h5>Channels</h5>
              <ul>
                <li><a href="/family/">Family</a></li>
                <li><a href="/home/">Home</a></li>
                <li><a href="/health/">Health</a></li>
                <li><a href="/food/">Food</a></li>
                <li><a href="/tech/">Tech</a></li>
                <li><a href="/money/">Money</a></li>
                <li><a href="/travel/">Travel</a></li>
                <li><a href="/outdoors/">Outdoors</a></li>
              </ul>
            </div>

            <div class="medium-2 columns show-for-medium-up">
              <h5>Join The Hive</h5>
              <ul>
                <li><a href="{% url 'newsletter_signup' %}">Newsletter</a></li>
                <li><a href="{% url 'recalls_home' %}">Product Alerts</a></li>
                <li><a href="{% url 'core_rss_landing' %}">RSS Feeds</a></li>
                <!-- <li><a href="#">Ask A Question</a></li> -->
              </ul>
            </div>

            <div class="medium-2 columns show-for-medium-up">
              <h5>Follow SafeBee</h5>
              <ul>
firefo                <li><a href="https://www.facebook.com/pages/SafeBee/244175299110761?sk=timeline">Facebook</a></li>
                <li><a href="https://twitter.com/SafeBeeTweets">Twitter</a></li>
                <li><a href="http://www.pinterest.com/SafeBee/">Pinterest</a></li>
                <li><a href="http://safebee.tumblr.com/">Tumblr</a></li>
                <li><a href="https://plus.google.com/u/0/b/112140864189621417965/112140864189621417965/about">Google+</a></li>
              </ul>
            </div>

            <div class="medium-4 columns show-for-medium-up">
              <h5>Our Partners</h5>
              <table>
                <tr>
                  <td><a href="http://ul.com"><img src="{{ STATIC_URL }}img/footer/partners/ul.png" /></a></td>
                  <td><a href="http://www.goodguide.com"><img src="{{ STATIC_URL }}img/footer/partners/g.png" /></a></td>
                  <td><a href="http://www.ulsafetysmart.com"><img src="{{ STATIC_URL }}img/footer/partners/ulss.png" /></a></td>                            
                </tr>
              </table>
            </div>

          </div>

          <div class="copyright row">
            <div class="small-10 small-centered medium-12 medium-uncentered columns">
              <p>Copyright &copy; 2014 SafeBee. All Rights Reserved.</p>
            </div>
          </div>
	</div>
