{% extends 'base.html' %}
{% load core thumbnail content_module compress buzz_tags %}

{% block title %}{% if not hubpage.set_as_homepage %}{{ hubpage.title }} | {% endif %}{{ block.super }}{% endblock %}

{% block content %}
        <div id="homepage-content" class="row">

          <div class="medium-7 columns featured-stories">
            <h3 class="module-header">Featured Stories</h3>

            <div class="featured-story">
              <div class="featured-story-image">
                <a href="/tech/phasellus-rutrum-sapien-eu-finibus-feugiat">
                  <img data-interchange="[http://placehold.it/600x446, (default)], [http://placehold.it/670x320, (medium)]" />
                  <span class="social-counter show-for-medium-up">324</span>
                  <h3>13 Natural Remedies for the Ant Invasion</h3>
                </a>
              </div>
              <div class="featured-story-description show-for-medium-up">
                <p>Ants are making their way into homes this time of year. Thankfully there are natural pest control methods to help you cope with and eliminate the problem. </p>
                <div class="featured-story-meta">
                  <span class="featured-story-date">June 4, 2014</span>
                  <span class="featured-story-byline">By: Stan Mitchell</span>
                </div>
              </div>
            </div>

            <div class="featured-story">
              <div class="featured-story-image">
                <a href="/photos/outdoors/sed-tincidunt-sagittis-mauris-faucibus-urna-tempus/">
                  <img data-interchange="[http://placehold.it/600x446, (default)], [http://placehold.it/670x320, (medium)]" />
                  <h3>A Modern Home In South Florida</h3>
                  <span class="social-counter show-for-medium-up">324</span>
                </a>
              </div>
              <div class="featured-story-description show-for-medium-up">
                <p>How can consumers ensure that the food that they eat was handled, prepared and stored in a safe manner?</p>
                <div class="featured-story-meta">
                  <span class="featured-story-date">June 4, 2014</span>
                  <span class="featured-story-byline">By: Stan Mitchell</span>
                </div>
              </div>
            </div>

            <div class="featured-story">
              <div class="featured-story-image">
                <a href="/photoblog/outdoors/fearsome-tornados-and-how-survive-them">
                  <img data-interchange="[http://placehold.it/600x446, (default)], [http://placehold.it/670x320, (medium)]" />
                  <h3>Five Unsavory Side Effects of Flooding</h3>
                  <span class="social-counter show-for-medium-up">324</span>
                </a>
              </div>
              <div class="featured-story-description show-for-medium-up">
                <p>Drying out and cleaning up after the floodwaters recede is only the beginning of the post-flooding woes.</p>
                <div class="featured-story-meta">
                  <span class="featured-story-date">June 4, 2014</span>
                  <span class="featured-story-byline">By: Stan Mitchell</span>
                </div>
              </div>
            </div>

            <div class="featured-story">
              <img src="{{ STATIC_URL }}img/ul-test-ad.jpg" />
            </div>

            <div class="featured-story">
              <div class="featured-story-image">
                <a href="/lists/family/6-ways-prepare-tornados-strong-winds-and-hailstorms">
                  <img data-interchange="[http://placehold.it/600x446, (default)], [http://placehold.it/670x320, (medium)]" />
                  <h3>Summertime Safety for Kids in Cars</h3>
                  <span class="social-counter show-for-medium-up">324</span>
                </a>
              </div>
              <div class="featured-story-description show-for-medium-up">
                <p>Keep your kids smiling in the back seat with these safety tips.</p>
                <div class="featured-story-meta">
                  <span class="featured-story-date">June 4, 2014</span>
                  <span class="featured-story-byline">By: Stan Mitchell</span>
                </div>
              </div>
            </div>

            <div class="featured-story">
              <div class="featured-story-image">
                <a href="/slideshows/family/nunc-interdum-hendrerit-diam-vel-consectetur-tortor-gravida/">
                  <img data-interchange="[http://placehold.it/600x446, (default)], [http://placehold.it/670x320, (medium)]" />
                  <h3>Why Plugging In Your iPhone Could Cost You</h3>
                  <span class="social-counter show-for-medium-up">324</span>
                </a>
              </div>
              <div class="featured-story-description show-for-medium-up">
                <p>Apple devices have lax security when it comes to the USB charging cables and this makes it easy to 'juice jack' the gadgets.</p>
                <div class="featured-story-meta">
                  <span class="featured-story-date">June 4, 2014</span>
                  <span class="featured-story-byline">By: Stan Mitchell</span>
                </div>
              </div>
            </div>

          </div><!-- end featured stories -->

          <div class="medium-2 columns todays-buzz">
            <h3 class="module-header">Today's Buzz <small><a href="{% url 'buzz:buzz_view_all' %}"><span class="show-for-medium-up">More</span><span class="show-for-small-only">View All</span></a></small></h3>

            {% get_buzz_stories 8 as buzz_stories %}
            {% for story in buzz_stories %}
            <div class="buzz-story{% if forloop.first %} first{% endif %}">
              <a href="{{ story.url }}"><img data-interchange="[{% if forloop.first %}{% thumbnail story.image.asset 600x390 crop="smart" %}{% else %}{% thumbnail story.image.asset 77x77 crop="smart" %}{% endif %} (default)], [{% thumbnail story.image.asset 380x247 crop="smart" %} (medium)]" /></a>
              <div class="buzz-story-title">
                <p><a href="{{ story.url }}">{{ story }}</a></p>
              </div>
            </div>
            {% endfor %}

          </div><!-- end today's buzz -->

          <div id="sidebar" class="medium-3 columns show-for-medium-up">

            <h3 class="module-header">Alerts &amp; Recalls</h3>
            <div class="sidebar-item">
              <ul>
                <li><a href="#"><img src="http://placehold.it/55x55" /></a><p><a href="#">Sunbeam recalls Holmes Ceramic Heaters due to fire hazard</a></p></li>
                <li><a href="#"><img src="http://placehold.it/55x55" /></a><p><a href="#">Hamilton Beach recalls baby food makers due to small parts hazard</a></p></li>
                <li><a href="#"><img src="http://placehold.it/55x55" /></a><p><a href="#">Lithonia Lighting recalls Emergency Lights due to fire hazard</a></p></li>
              </ul>
              <a class="view-more" href="#">View all Alerts &amp; Recalls &gt;</a>
            </div><!-- end alerts & recalls -->

            <h3 class="module-header">What's The Buzz About?</h3>
            <div class="sidebar-item whats-the-buzz">
              <h5>Popular</h5>
              <ul>
                <li><a href="#">"Do you know the truth about GMOs?"</a><span>50 COMMENTS | Started 100 days ago</span></li>
                <li><a href="#">"Anyone have car set recommendations for a 2 1/2 year old?"</a><span>100 COMMENTS | Started 2 days ago</span></li>
                <li><a href="#">"Do you know the truth about GMOs?"</a><span>50 COMMENTS | Started 100 days ago</span></li>
              </ul>

              <h5>Trending</h5>
              <ul>
                <li><a href="#">"Need a computer that takes a beating"</a><span>25 COMMENTS | Started 24 hours ago</span></li>
                <li><a href="#">"Need a computer that takes a beating"</a><span>25 COMMENTS | Started 24 hours ago</span></li>
                <li><a href="#">"Need a computer that takes a beating"</a><span>25 COMMENTS | Started 24 hours ago</span></li>
              </ul>

              <a class="view-more" href="#">Go to forums &gt;</a>
            </div><!-- end what's the buzz -->

            <div class="sidebar-item sidebar-ad">
              <img src="{{ STATIC_URL }}img/ul-test-sidebar-ad.jpg" />
            </div><!-- end sidebar ad -->

            <div class="sidebar-item top-stories">
              <h3>Top <span class="num">6</span> Stories</h3>
              <ol>
                <li><a href="#">Wise cat imparts sage advice to kitten in hilarious video</a></li>
                <li><a href="#">8 acts of kindness to animals that will restore your faith in humanity</a></li>
                <li><a href="#">13 natural remedies for the ant invasion</a></li>
                <li><a href="#">You haven't heard 'Baby Got Back' like this before</a></li>
                <li><a href="#">Too beautiful to be real? 16 surreal landscapes found on Earth</a></li>
                <li><a href="#">5 unexpected countries that are leading the way on renewable energy</a></li>
              </ol>
            </div>

          </div><!-- end sidebar -->

        </div><!-- end homepage content -->
{% endblock %}
