{% include 'mastermind/background_image.html' with image=question.get_image.asset %}
<div id="quiz">
  <div id="quiz-content">

    <form id="question-form" class="question-detail">
      {% csrf_token %}
      <h3>Question {{ forloop.counter }} of {{ questions|length }} <span class="current-score">Score: 0</span></h3>
      <p>{{ question.text }}</p>
      <ul class="answers">
        {% for answer in question.answer_set.all %}
        <li>
          <input id="answer-{{ answer.id }}" data-correct="{{ answer.correct }}" type="radio" name="answer" value="{{ answer.id }}"><label for="answer-{{ answer.id }}"><span class="counter">{{ forloop.counter }}.</span> {{ answer.choice }}</label>
        </li>
        {% endfor %}
      </ul>
      <p class="explanation hide"><span></span> {{ question.explanation|truncatechars:"307" }}</p>
      <button type="submit" name="btn-quiz" value="next" class="disabled">NEXT QUESTION &nbsp;<i class="fa fa-caret-right"></i></button>
    </form>
  </div>
</div>
<div class="quiz-image-credit">{% if question.get_image.asset_credit_string %}Photo: {{ question.get_image.asset_credit_string }}{% endif %}</div>