{% extends 'content.html' %}
{% load compress core render_rail thumbnail micawber_tags %}

{% block bodyclass %}{{ content_item.category.name|lower }}{% endblock %}

{% block content %}
    <div id="article-content" class="row quiz-article-content">

      <div class="medium-9 columns full-width-mobile sb-resize-9">
        <h1>{{ content_item.title }}</h1>
        {% if content_item.subhead %}<h2 class="subhead">{{ content_item.subhead }}</h2>{% endif %}
        <div class="article-content-well {% block additional_article_content_well_classes %}{% endblock %}">
          {% block byline %}{% include 'includes/byline.html' with additional_classes="show-for-medium-up" %}{% endblock %}
        </div>      
        <div class="article-content-well">
            <div id="quiz-container">
                {% include 'mastermind/background_image.html' with image=content_item.primary_image.asset %}
                <div class="quiz-image-credit show-for-small-only">{% if content_item.primary_image.asset_credit_string %}Photo: {{ content_item.primary_image.asset_credit_string }}{% endif %}</div>
                <div id="quiz">
                  <div id="quiz-content">
                    <form id="question-form" class="intro">
                      {% csrf_token %}
                      <p>{{ content_item.description }}</p>
                      <button type="submit" name="btn-quiz" value="first">START THE QUIZ &nbsp;<i class="fa fa-caret-right"></i></button>
                    </form>
                  </div>
                </div>
                <div class="quiz-image-credit show-for-medium-up">{% if content_item.primary_image.asset_credit_string %}Photo: {{ content_item.primary_image.asset_credit_string }}{% endif %}</div>
            </div>

          <div class="mobile-columns">
            {% get_next_content_item content_item as next_item %}
            {% get_previous_content_item content_item as previous_item %}
            <div class="row prev-next-article show-for-medium-up">
            <div class="small-12 collapse" data-equalizer>
                {% if previous_item %}
                <div class="medium-6 columns prev" data-equalizer-watch><a href="{{ previous_item.get_absolute_url }}"><span> <i class="fa fa-angle-left"></i> Prev</span>{{ previous_item }}</a></div>
                {% endif %} {% if next_item %}
                <div class="medium-6 columns next" data-equalizer-watch><a href="{{ next_item.get_absolute_url }}"><span>Next <i class="fa fa-angle-right"></i></span>{{ next_item }}</a></div>
                {% endif %}
            </div>
            </div>

            {% if next_item %}
            <div class="next-mobile-static show-for-small-only">
            <div class="left">
                <div class="top">
                    NEXT QUIZ
                </div>
                <div class="title">
                    <a href="{{ next_item.get_absolute_url }}">{{next_item}}</a>
                </div>
            </div>
            <div class="right">
                <a href="{{ next_item.get_absolute_url }}"><i class="fa fa-angle-right"></i></a>
            </div>
            </div>
            {% endif %}

          {% include 'includes/content/recommended.html' %}

          {% include 'includes/content/comments.html' %}
          </div>
        </div><!-- end article content well -->
      
      </div>

      {% include 'includes/content/sidebar.html' %}

    </div><!-- end article content -->

    <div id="questions-container" class="hide">
        {% for question in questions %}
            <div id="question-{{ question.id }}">
              {% include 'mastermind/question_detail.html' %}
            </div>
        {% endfor %}
    </div>

    <div id="answers-container" class="hide"></div>

    <div id="quiz-results" class="hide">
        {% include 'mastermind/player_results.html' %}
    </div>
            
{% endblock %}

{% block default_css_bottom %}{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}mastermind/animate.min.css">
{% endblock %}

{% block extra_js_bottom %}{% compress js %}
<script>

    $(document).ready(function() {

        {% comment %} load score ranges into quiz-container {% endcomment %}
        var score_ranges = []
        var current_score = 0;
        {% for score_range in content_item.scorerange_set.all %}
        score_ranges.push({"lower": {{ score_range.lower_limit }},
                           "upper": {{ score_range.upper_limit }},
                           "text": "{{ score_range.text }}"});
        {% endfor %}

        $('#quiz-container').data('score_ranges', score_ranges);

        {% comment %} process an answer choice {% endcomment %}
        $('#quiz-container').on('click', ':radio', function(event) {
            response = $('#quiz-container :checked');
            if (response.length) {
                response_id = response.attr('id');
                span_counter = $('label[for="' + response_id + '"] > span.counter');
                response_label = $('label[for="' + response_id + '"]');
                if (response.data('correct') == 'True') {
                    current_score++;
                    $('span.current-score').html("Score: <span>" + current_score + "</span>");
                    span_counter = $('label[for="' + response_id + '"] > span.counter');
                    response_label.css('background-color', '#47984b');
                    span_counter.css('background-color', '#47984b');
                    span_counter.html('<i class="fa fa-check"></i>');
                }
                else {
                    response_label.css('background-color', '#b82929');
                    span_counter.css('background-color', '#b82929');
                    span_counter.html('<i class="fa fa-close"></i>');
                    correct_response = $("#quiz-container input[data-correct='True']");
                    correct_span_counter = $('label[for="' + correct_response.attr('id') + '"] > span.counter');
                    correct_response_label = $('label[for="' + correct_response.attr('id') + '"]'); 
                    correct_response_label.css({'background-color': '#47984b', 'color': '#fff'});
                    correct_span_counter.css({'background-color': '#47984b', 'color': '#fff'});
                    correct_span_counter.html('<i class="fa fa-check"></i>');         
                }
            }
            var explanation = $('#quiz-container .explanation');
            var next_button = $('button[name="btn-quiz"]');
            explanation.removeClass('hide');
            next_button.removeClass('disabled');
            var next_position = next_button.position();
            var expl_bottom = explanation.position().top + explanation.height();
            if (expl_bottom > next_position.top - 10) {
                diff = expl_bottom - next_position.top + (next_button.height() * 2) + 40;
                explanation.height(explanation.height() - diff);
            }
            $('#quiz-container input:radio').attr('disabled', true);
        });

        {% comment %}
        check for a response, the correctness, and then load the next question or results
        {% endcomment %}
        $('#quiz-container').on('click', 'button[name=\'btn-quiz\']', function(event) {
            event.preventDefault();
            var btn_value = $(this)[0].value;
            var has_response = false;

            if (btn_value == 'next') {
                response = $('#quiz-container :checked');
                if (response.length) {
                    has_response = true;
                    response.clone().appendTo('#answers-container');
                };
            };

            if (has_response || (btn_value == 'first')) {
                var next_question = $('#questions-container > :first-child');
                if (next_question.length) {
                    $('#quiz-content').children().addClass('animated fadeOut');
                    $('#quiz-content').children().first().one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                        $('button[name="btn-quiz"]').addClass('disabled');
                        $('#quiz-container').html(next_question.html());
                        $('#quiz-content').children().addClass('animated fadeIn');
                        next_question.remove();
                    });
                } else {
                    var num_correct = 0;
                    $('#answers-container :input').each(function () {
                        if ($(this).data('correct') == 'True') {
                            num_correct++;
                        }
                    });
                    $('#results-num-correct').html(num_correct);
                    $.each($('#quiz-container').data('score_ranges'), function (index, value) {
                        if ((value['lower'] <= num_correct) && (num_correct <= value['upper'])) {
                            $('#results-text .score-range-text>span').html(value['text']);
                        }
                    });
                    $('#quiz-content').children().addClass('animated fadeOut');
                    $('#quiz-content').children().first().one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                        $('button[name="btn-quiz"]').addClass('disabled');
                        $('#quiz-container').html($('#quiz-results').html());
                        $('#quiz-content').children().addClass('animated fadeIn');
                    });
                };
                {% include_unless_debug 'google-analytics-trigger-pageview.html' %}
            };
        });
    });

</script>{% endcompress %}
{% endblock %}
