#masthead {
	height: 170px;
	margin-bottom: 44px;

	.logo {
		margin-top: 50px;
		margin-left: -10px;
		text-align: center;
	}

	.nl-signup {
		position: absolute;
		left: 120px;
		bottom: 0px;
	}

	.search {
		position: absolute;
		right: 120px;
		bottom: 0px;
	}
}

#nav {
	border-bottom: 1px solid $light-meta-color;
	border-top: 1px solid $light-meta-color;
	display: table;
	font: bold 16px/20px $header-font!important;
	height: 52px;
	margin-bottom: 60px;
	text-transform: uppercase;
	width: 100%;

	a {
		@include link-colors(#000, $link-color);
		height: 52px;
		line-height: 52px;
		padding: 0px 11px;
		vertical-align: middle;
	}

	ul.inline-list {
		display: table-row;
		margin: 0;
	}

	ul.inline-list > li {
		display: table-cell;
		text-align: center;
	}
}
