#index-content {
	
	h1 {
		background-color: $primary-color;
		color: #fff;
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 10px;
		padding: 4px 15px;
		text-transform: uppercase;
	}

	#featured-story {
		margin-bottom: 80px;
		position: relative;

		img {
			position: relative;
		}

		h2 {
			font: bold 42px $header-font;
			color: #fff;
			position: absolute;
			bottom: 15px;
			left: 46px;
			width: 55%;
		}

		small.credit {
			font: 600 10px/24px $paragraph-font;
			position: absolute;
		}

	}

	#story-stream {
		position: static;

		.story {
			clear: both;
			margin-bottom: 30px;
			overflow: hidden;

			.byline {
				color: #acacac;
				margin-bottom: 12px;

				a {
					color: $primary-color;
					font-weight: 600;
				}

			}

			img {
				float: left;
				margin-right: 20px;
			}

			h3 {
				font: bold 24px/33px $header-font;
			}

		}

	}

}