.headline-topper {

	h1 {
		font-size: 26px!important;
		margin-bottom: 0px!important;

		@media screen and (max-width: $break-small) {
			font: bold 18px/22px $header-font!important;
			width: 100%!important;
		}
	}

	h5 {
		@media screen and (max-width: $break-small) {
			font-size: 13px!important;
			margin-bottom: 0px!important;
		}
	}

}