.photo-blog {

	h1 {
		float: left;
		font-size: 30px;
		font-weight: bold;
		width: 65%;
	}

	.social-inline-list {
		position: absolute;
		right: 12px;
		bottom: 0px;
	}

}

.photo-blog-item {
	margin-bottom: 30px;

	h2 {
		font: bold 22px/26px $header-font;
	}

	img {
		margin-bottom: 20px;
	}

}

.photo-blog-item:first-child {
	margin-top: 20px;
}