.recommended {
	min-width: 868px;
	padding-top: 10px;

	@media screen and (max-width: $break-small) {
		min-width: 0;
	}

	ul.inline-list {
		margin-left: 0px;
	}

	li {
		margin: 0px 4px 0px 0px;
		overflow: hidden;
		padding: 0px;
		min-width: 214px;
		width: 214px;

		@media screen and (max-width: $break-small) {
			margin-bottom: 5px;
			width: 100%;

			a {
				height: 77px;
			}

			img {
				float: left;
				margin-right: 15px;
			}

			p {
				font: bold 13px/21px $header-bold-font;
				height: 77px;
			}

		}

	}

	li:last-child {
		margin-right: 0px;
	}

	p {
		background-color: $primary-color;
		color: #fff;
		font: normal 13px/17px $header-font;
		padding: 10px 12px;
	}

	h3 {
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;

		@media screen and (max-width: $break-small) {
			font-size: 13px;
		}
	}

}