{% extends 'content.html' %}
{% load core render_rail thumbnail micawber_tags %}

{% block bodyclass %}{{ content_item.category.name|lower }}{% endblock %}

{% block content %}
  <div id="article-content-container">
    <div id="article-content" class="row article-item">
      <div class="medium-9 columns sb-resize-9 top-action-row{% block additional_top_action_row_classes %}{% endblock %}">
        {% if disclaimer %}<h3 class="blog-header">Blog</h3>{% endif %}
        <h1>{{ content_item.title }}</h1>
        {% if content_item.subhead %}<h2 class="subhead">{{ content_item.subhead }}</h2>{% endif %}
        <div class="article-content-well {% block additional_article_content_well_classes %}{% endblock %}">
          {% block byline %}{% include 'includes/byline.html' %}{% endblock %}
          {% block article_content %}
          <div class="featured-image">
            <img src="{% thumbnail content_item.primary_image.asset 838x0 crop="smart" %}" alt="{{ content_item.primary_image.alt_text }}" />
            {% if content_item.primary_image.caption or content_item.primary_image_caption_override %}<small class="primary-image-caption">{% if content_item.primary_image_caption_override %}{{ content_item.primary_image_caption_override|safe }}{% else %}{% if content_item.primary_image.display_caption %}{{ content_item.primary_image.caption|safe }}{% endif %}{% if content_item.primary_image.asset_credit_string %} (Photo: {{ content_item.primary_image.asset_credit_string }}){% endif %}{% endif %}</small>{% endif %}
          </div><!-- end featured-image -->

          {% include 'includes/social/social_inline_list.html' with additional_classes='show-for-small-only' %}

          <div class="article-body">
            {{ content_item.body|safe|oembed_html }}

            {% if content_item.author.bio %}<p class="author-bio">{{ content_item.author.bio|safe }}</p>{% endif %}

            {% if disclaimer %}<p class="blog-disclaimer">{{ disclaimer|safe }}</p>{% endif %}
          </div><!-- end article-body -->
          {% endblock %}
          <div class="bottom-action-row show-for-medium-up">
      			{% include 'includes/social/social_inline_list.html' with additional_classes='right' %}
          </div><!-- end bottom-action-row -->

          {% include 'includes/content/prev_next.html' %}
          {% include 'includes/contentitem_tags_list.html' %}
          {% include 'includes/content/recommended.html' %}

          {% include 'includes/content/comments.html' %}

        </div><!-- end article content well -->
        {% get_next_content_item content_item as next_content_item %}{% if next_content_item %}<div id="next-story-container" style="display: none;"><a class="next-link" href="{{ next_content_item.get_absolute_url }}">Next Story</a></div>{% endif %}
      </div><!-- end medium-9 -->

      {% include 'includes/content/sidebar.html' %}
      <div id="mobile-sailthru" class="next-mobile-static show-for-small-only">
          <div class="left">
              <div class="top">Scroll Down For More Stories!</div>
          </div>
          <div class="right">
              <i class="fa fa-angle-down"></i>
          </div>
      </div>
    </div><!-- end article content -->
  </div>
{% endblock %}


{% block extra_js_bottom %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/vendor/jquery-ias.min.js"></script>
<script>
  if (Modernizr.mq('(max-width: 480px)')) {
    var ias = jQuery.ias({
      container:  '#article-content-container',
      item:      '.article-item',
      pagination: '#next-story-container',
      next:       '.next-link',
      negativeMargin: 300
    });
    ias.extension(new IASSpinnerExtension());
    ias.on('loaded', function(data, items) {
      ga('send', 'pageview');
      $('#article-content').css({
        'padding-bottom': '30px',
        'margin-bottom': '30px',
        'border-bottom': '1px dotted #999'
      });
      $('.next-mobile-static').removeClass('active-static');
      setTimeout(function() {
        $('#mobile-sailthru').remove();
      }, 350);
      window.showSailThru = false;
      $(items).each(function() {
        $('.recommended', this).hide();
        $('#mobile-sidebar', this).hide();
        $('.top-stories', this).hide();
        $('.comments', this).remove();
        $('#mobile-sailthru', this).remove();
        $('.article-item').css({
          'padding-bottom': '30px',
          'margin-bottom': '30px',
          'border-bottom': '1px dotted #999'
        });
      });

    })
  }
</script>

{% endblock %}
