{% extends 'base.html' %}
{% load core render_rail thumbnail paginate %}

{% block title %}{{ author.get_full_name }}{% if not pagination_obj.number == 1 %} - Page {{ pagination_obj.number }}{% endif %} {% site_title_string %}{% endblock %}

{% block chartbeat_authors %}{{ author.get_full_name }}{% endblock %}

{% block rel_canonical %}{% endblock %}

{% block rss %}{{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="{{ author.get_full_name }} Feed" href="{% url 'core_author_feed' basename=author.get_full_name|slugify %}" />
{% endblock %}

{% block extra_meta %}{{ block.super }}
    {% if pagination_obj.number > 1 %}<meta name="robots" content="noindex" />{% endif %}
    {% if pagination_obj.has_previous %}<link rel="prev" href="{% previous_paginated_url pagination_obj %}" />{% endif %}
    {% if pagination_obj.has_next %}<link rel="next" href="{% next_paginated_url pagination_obj %}" />{% endif %}
{% endblock %}

{% block content %}

<div id="index-content" class="row">

  <div class="medium-9 columns sb-resize-9">
      <h1 class="{{ category.name|lower }}">{{ author.get_full_name }}{% if not pagination_obj.number == 1 %} - Page {{ pagination_obj.number }}{% endif %}<span class="right show-for-medium-up"><a href="{% url 'core_author_feed' basename=author.get_full_name|slugify %}"><i class="fa fa-rss fa-lg"></i></a></span></h1>
      {% if pagination_obj.number == 1 %}
        {% if featured_items %}{% with featured_items.0 as featured_item %}<div id="featured-story">
        <a href="{{ featured_item.get_absolute_url }}"><img data-interchange="[{% thumbnail featured_item.get_image.asset 600x446 crop="smart" %}, (default)], [{% thumbnail featured_item.get_image.asset 870x417 crop="smart" %}, (medium)]" alt="{{ featured_item.get_image.alt_text }}"/></a>
        <h2>{{ featured_item }}</h2>
        <small class="credit show-for-medium-up">Photo: <a href="#">USDA.gov</a> / Flickr</small>
        {% include 'includes/social/social_inline_list.html' with additional_classes='right show-for-medium-up' %}
      </div><!-- end featured story -->{% endwith %}{% endif %}{% endif %}

      {% include 'story_stream.html' %}

      {% paginate pagination_obj %}

  </div><!-- end medium-9 -->

  {% include 'includes/content/sidebar.html' %}

</div><!-- end index content -->

</div>
{% endblock %}
