{% extends 'base.html' %}
{% load core render_rail thumbnail promo_widget content_module %}

{% block title %}{{ category.name }}{% if not pagination_obj.number == 1 %} - Page {{ pagination_obj.number }}{% endif %} {% site_title_string %}{% endblock %}

{% block chartbeat_sections %}{{ category.name }}{% endblock %}

{% block bodyclass %}{{ block.super }} {{ category.name|lower }}{% endblock %}

{% block rel_canonical %}<link rel="canonical" href="http://{{ current_site.domain }}{{ request.path }}" />{% endblock %}

{% block rss %}{{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="{{ category.name }} Feed" href="{% url 'core_category_feed' slug=category.slug %}" />
{% endblock %}

{% block extra_meta %}{{ block.super }}
    {% if pagination_obj.has_previous %}<link rel="prev" href="{% previous_paginated_url pagination_obj %}" />{% endif %}
    {% if pagination_obj.has_next %}<link rel="next" href="{% next_paginated_url pagination_obj %}" />{% endif %}
    {% if category.meta_description %}<meta name="description" content="{{ category.meta_description }}" />{% endif %}
{% endblock %}

{% block content %}
    <div id="index-content" class="row">

      <div class="medium-9 columns">
          <div id="featured-story">
            <h1>Family</h1>
            <img data-interchange="[http://placehold.it/600x446, (default)], [http://placehold.it/870x417, (medium)]" />
            <h2>10 Tips For A Safe Holiday</h2>
            <small class="credit show-for-medium-up">Photo: <a href="#">USDA.gov</a> / Flickr</small>
            <ul class="inline-list social-inline-list right show-for-medium-up">
              <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u="><i class="fa fa-facebook"></i><span class="count">324</span></a></li>
              <li class="twitter"><a href="http://twitter.com/home?status="><i class="fa fa-twitter"></i></a></li>
              <li class="pinterest"><a href="http://pinterest.com/pin/create/button/?url=&media=&description="><i class="fa fa-pinterest"></i></a></li>
              <li class="google-plus"><a href="https://plus.google.com/share?url="><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>

          {% include 'story_stream.html' %}

          {% include 'pagination.html' %}

      </div><!-- end medium-9 -->

      {% include 'includes/content/sidebar.html' %}

    </div><!-- end index content -->
{% endblock %}
