{% extends 'base.html' %}
{% load meta_robots thumbnail %}

{% block title %}{{ content_item.get_title }} | {{ block.super }}{% endblock %}

{% block meta_robots %}{% meta_robots_tag %}{% endblock %}

{% block chartbeat_sections %}{{ content_item.category.name }}{% endblock %}
{% block chartbeat_authors %}{{ content_item.author.get_full_name }}{% endblock %}

{% block rel_canonical %}{% if not content_item.noindex %}<link rel="canonical" href="{{ content_item.get_canonical_url }}" />{% endif %}{% endblock %}

{% block rss %}{{ block.super }}
    {% if content_item.category %}<link rel="alternate" type="application/rss+xml" title="{{ content_item.category.name }} Feed" href="{% url 'core_category_feed' slug=content_item.category.slug %}" />{% endif %}
    {% if content_item.author %}<link rel="alternate" type="application/rss+xml" title="{{ content_item.author.get_full_name }} Feed" href="{% url 'core_author_feed' basename=content_item.author.get_full_name|slugify %}" />{% endif %}
{% endblock %}

{% block extra_meta %}{{ block.super }}
    {% if content_item.news_keywords %}<meta name="news_keywords" content="{{ content_item.news_keywords }}">{% endif %}
    {% if content_item.enable_standout_tag %}<link rel="standout" href="{{ content_item.get_canonical_url }}" />{% endif %}
    <meta name="description" content="{{ content_item.description }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="SafeBeeTweets">
    <meta name="twitter:title" content="{{ content_item.title }}">
    <meta name="twitter:description" content="{{ content_item.description }}">
    <meta name="twitter:image:src" content="{% if content_item.social_image %}{% thumbnail content_item.social_image.asset "560x0" crop="smart" %}{% elif content_item.primary_image %}{% thumbnail content_item.primary_image.asset "560x0" crop="smart" %}{% endif %}">
    <meta name="twitter:domain" content="{{ current_site.domain }}">
    <meta name="twitter:url" content="{{ content_item.get_fully_qualified_url }}" />

{% endblock %}

{% block notifications %}
  {% if messages %}
    {% for message in messages %}
      <div data-alert {% if message.tags %} class="alert-box {{ message.tags }}" {% endif %}>{{ message }}
        <a href="#" class="close">&times;</a>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

  {% block pinit %}<script type="text/javascript" async data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>{% endblock %}

{% block extra_js_bottom %}<script src="{{ STATIC_URL }}js/vendor/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        // Target your .container, .wrapper, .post, etc.
        $("#article-content").fitVids();
      });
    </script>
{% endblock %}
