{% extends 'base.html' %}
{% load core paginate render_rail thumbnail promo_widget content_module %}

{% block title %}Latest Stories {% if not pagination_obj.number == 1 %} - Page {{ pagination_obj.number }} {% endif %}{% site_title_string %}{% endblock %}

{% block rel_canonical %}{% endblock %}

{% block extra_meta %}{{ block.super }}
    <meta name="robots" content="noindex" />
    {% if pagination_obj.has_previous %}<link rel="prev" href="{% previous_paginated_url pagination_obj %}" />{% endif %}
    {% if pagination_obj.has_next %}<link rel="next" href="{% next_paginated_url pagination_obj %}" />{% endif %}
    {% if category.meta_description %}<meta name="description" content="{{ category.meta_description }}" />{% endif %}
{% endblock %}

{% block content %}
    <div id="index-content" class="row home-page-all">

      <div class="medium-9 columns sb-resize-9">
          <h1 class="latest-stories">Latest Stories {% if not pagination_obj.number == 1 %} - Page {{ pagination_obj.number }}{% endif %}<span class="right show-for-medium-up"><a href="{% url 'core_latest_content_feed' %}"><i class="fa fa-rss fa-lg"></i></a></span></h1>
          {% include 'story_stream.html' %}

          {% paginate pagination_obj %}

      </div><!-- end medium-9 -->

      {% include 'includes/content/sidebar.html' %}

    </div><!-- end index content -->
{% endblock %}
