{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}

<div id="rss-landing" class="row">

    <div class="medium-9 columns">

        <div class="row">
            <h1>RSS Feeds</h1>
            <p>Check out the latest posts, the latest slideshows, or choose from any of our Category, Tag, and Author feeds below.</p>
        </div>

        <div class="row feeds">
            <h2>Author Feeds</h2>
            <div class="row">
                <div class="medium-4 columns">
                    <a href=""><img src="http://placehold.it/50x50" /></a>
                    <a href="">Author Name Here</a>
                    <p>Author Location, Here</p>
                </div>
                <div class="medium-4 columns">
                    <a href=""><img src="http://placehold.it/50x50" /></a>
                    <a href="">Author Name Here</a>
                    <p>Author Location, Here</p>
                </div>
                <div class="medium-4 columns">
                    <a href=""><img src="http://placehold.it/50x50" /></a>
                    <a href="">Author Name Here</a>
                    <p>Author Location, Here</p>
                </div>                
            </div>
            <div class="row">
                <div class="medium-4 columns">
                    <a href=""><img src="http://placehold.it/50x50" /></a>
                    <a href="">Author Name Here</a>
                    <p>Author Location, Here</p>
                </div>
                <div class="medium-4 columns">
                    <a href=""><img src="http://placehold.it/50x50" /></a>
                    <a href="">Author Name Here</a>
                    <p>Author Location, Here</p>
                </div>
                <div class="medium-4 columns">
                    <a href=""><img src="http://placehold.it/50x50" /></a>
                    <a href="">Author Name Here</a>
                    <p>Author Location, Here</p>
                </div>                
            </div>
            <div class="row">
                <div class="medium-4 columns">
                    <a href=""><img src="http://placehold.it/50x50" /></a>
                    <a href="">Author Name Here</a>
                    <p>Author Location, Here</p>
                </div>
                <div class="medium-4 columns">
                    <a href=""><img src="http://placehold.it/50x50" /></a>
                    <a href="">Author Name Here</a>
                    <p>Author Location, Here</p>
                </div>
                <div class="medium-4 columns">
                    <a href=""><img src="http://placehold.it/50x50" /></a>
                    <a href="">Author Name Here</a>
                    <p>Author Location, Here</p>
                </div>                
            </div>
        </div>

        <div class="row feeds imageless-feeds">
            <h2>Category Feeds</h2>
            <div class="row">
                <div class="medium-4 columns">
                    <a href="">Category Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Category Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Category Name Here</a>
                </div>                
            </div>            
            <div class="row">
                <div class="medium-4 columns">
                    <a href="">Category Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Category Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Category Name Here</a>
                </div>                
            </div>  
            <div class="row">
                <div class="medium-4 columns">
                    <a href="">Category Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Category Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Category Name Here</a>
                </div>                
            </div>  
        </div>

        <div class="row feeds imageless-feeds">
            <h2>Tag Feeds</h2>
            <div class="row">
                <div class="medium-4 columns">
                    <a href="">Tag Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Tag Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Tag Name Here</a>
                </div>                
            </div>            
            <div class="row">
                <div class="medium-4 columns">
                    <a href="">Tag Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Tag Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Tag Name Here</a>
                </div>                
            </div>  
            <div class="row">
                <div class="medium-4 columns">
                    <a href="">Tag Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Tag Name Here</a>
                </div>
                <div class="medium-4 columns">
                    <a href="">Tag Name Here</a>
                </div>                
            </div>              
        </div>

      </div><!-- end medium-9 -->

      {% include 'includes/content/sidebar.html' %}

</div>

{% endblock %}