{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}

<div id="rss-landing" class="row">

    <div class="medium-9 columns">

        <div class="row">
            <div class="small-12 columns">
                <h1>RSS Feeds</h1>
                <p>Check out the <a href="{% url 'core_latest_content_feed' %}">latest posts</a> or choose from any of our Category, Tag, and Author feeds below.</p>
            </div>
        </div>
        {% if authors %}
        <div class="row feeds">
            <div class="small-12 columns">
                <h2>Author Feeds</h2>
                <div class="row">
                {% for author in authors %}
                    <div class="small-12 medium-4 columns">
                        {% if author.profile_image %}<a href="{% url 'core_author_feed' basename=author.get_full_name|slugify %}"><img src="{% thumbnail author.profile_image 50x50 %}" alt=""/></a>{% endif %}
                        <a href="{% url 'core_author_feed' basename=author.get_full_name|slugify %}">{{ author }}</a>
                        {% if author.title %}<p>{{ author.title }}</p>{% endif %}
                    </div>
                    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                </div>
                <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if categories %}
        <div class="row feeds imageless-feeds">
            <div class="small-12 columns">
                <h2>Category Feeds</h2>
                <div class="row">
                {% for category in categories %}
                    <div class="small-12 medium-4 columns">
                        <a href="{% url 'core_category_feed' slug=category.slug %}">{{ category }}</a>
                    </div>
                    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                </div>
                <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if tags %}
        <div class="row feeds imageless-feeds">
            <div class="small-12 columns">
                <h2>Tag Feeds</h2>
                <div class="row">
                {% for tag in tags %}
                    <div class="small-12 medium-4 columns">
                        <a href="{% url 'core_tag_feed' slug=tag.slug %}">{{ tag }}</a>
                    </div>
                    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                </div>
                <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
      </div><!-- end medium-9 -->

      {% include 'includes/content/sidebar.html' %}

</div>

{% endblock %}
