<div class="row slide-navigation">

  <div class="small-4 columns" style="text-align: right;">
    {% if previous_slide.get_absolute_url %}<a href="{{ previous_slide.get_absolute_url }}"><i class="fa fa-chevron-circle-left fa-3x"></i></a>{% else %}<i class="fa fa-chevron-circle-left fa-3x"></i>{% endif %}
  </div>

  <div class="small-4 columns" style="text-align: center;">
    <span class="slide-indicator slide-indicator-bottom">{{ current_slide.order|add:"1" }} / {{ content_item.slide_set.count }}</span>
  </div>

  <div class="small-4 columns" style="text-align: left;">
    {% if next_slide.get_absolute_url %}<a href="{{ next_slide.get_absolute_url }}"><i class="fa fa-chevron-circle-right fa-3x"></i></a>{% else %}<i class="fa fa-chevron-circle-right fa-3x"></i>{% endif %}
  </div>

</div>
