         <div id="story-stream">

            <div class="story">
              <img data-interchange="[http://placehold.it/125x100, (default)], [http://placehold.it/300x201, (medium)]" />
              <h3>13 Natural Remedies for the Ant Invasion</h3>
              <p class="byline show-for-medium-up">by <a href="#">Jaime Bender</a> | Thursday, April 17, 2014</p>
              <p class="show-for-medium-up">Ants are making their way into homes this time of year. Thankfully there are natural pest control methods to help you cope with and eliminate the problem.</p>
            </div>

            <div class="story">
              <img data-interchange="[http://placehold.it/125x100, (default)], [http://placehold.it/300x201, (medium)]" />
              <h3>13 Natural Remedies for the Ant Invasion</h3>
              <p class="byline show-for-medium-up">by <a href="#">Jaime Bender</a> | Thursday, April 17, 2014</p>
              <p class="show-for-medium-up">Ants are making their way into homes this time of year. Thankfully there are natural pest control methods to help you cope with and eliminate the problem.</p>
            </div>

            <div class="story">
              <img data-interchange="[http://placehold.it/125x100, (default)], [http://placehold.it/300x201, (medium)]" />
              <h3>13 Natural Remedies for the Ant Invasion</h3>
              <p class="byline show-for-medium-up">by <a href="#">Jaime Bender</a> | Thursday, April 17, 2014</p>
              <p class="show-for-medium-up">Ants are making their way into homes this time of year. Thankfully there are natural pest control methods to help you cope with and eliminate the problem.</p>
            </div>

            <div class="story">
              <img data-interchange="[http://placehold.it/125x100, (default)], [http://placehold.it/300x201, (medium)]" />
              <h3>13 Natural Remedies for the Ant Invasion</h3>
              <p class="byline show-for-medium-up">by <a href="#">Jaime Bender</a> | Thursday, April 17, 2014</p>
              <p class="show-for-medium-up">Ants are making their way into homes this time of year. Thankfully there are natural pest control methods to help you cope with and eliminate the problem.</p>
            </div>

            <div class="story">
              <img data-interchange="[http://placehold.it/125x100, (default)], [http://placehold.it/300x201, (medium)]" />
              <h3>13 Natural Remedies for the Ant Invasion</h3>
              <p class="byline show-for-medium-up">by <a href="#">Jaime Bender</a> | Thursday, April 17, 2014</p>
              <p class="show-for-medium-up">Ants are making their way into homes this time of year. Thankfully there are natural pest control methods to help you cope with and eliminate the problem.</p>
            </div>

            <div class="story">
              <img data-interchange="[http://placehold.it/125x100, (default)], [http://placehold.it/300x201, (medium)]" />
              <h3>13 Natural Remedies for the Ant Invasion</h3>
              <p class="byline show-for-medium-up">by <a href="#">Jaime Bender</a> | Thursday, April 17, 2014</p>
              <p class="show-for-medium-up">Ants are making their way into homes this time of year. Thankfully there are natural pest control methods to help you cope with and eliminate the problem.</p>
            </div>

            <div class="story">
              <img data-interchange="[http://placehold.it/125x100, (default)], [http://placehold.it/300x201, (medium)]" />
              <h3>13 Natural Remedies for the Ant Invasion</h3>
              <p class="byline show-for-medium-up">by <a href="#">Jaime Bender</a> | Thursday, April 17, 2014</p>
              <p class="show-for-medium-up">Ants are making their way into homes this time of year. Thankfully there are natural pest control methods to help you cope with and eliminate the problem.</p>
            </div>

            <div class="story">
              <img data-interchange="[http://placehold.it/125x100, (default)], [http://placehold.it/300x201, (medium)]" />
              <h3>13 Natural Remedies for the Ant Invasion</h3>
              <p class="byline show-for-medium-up">by <a href="#">Jaime Bender</a> | Thursday, April 17, 2014</p>
              <p class="show-for-medium-up">Ants are making their way into homes this time of year. Thankfully there are natural pest control methods to help you cope with and eliminate the problem.</p>
            </div>

            <div class="story">
              <img data-interchange="[http://placehold.it/125x100, (default)], [http://placehold.it/300x201, (medium)]" />
              <h3>13 Natural Remedies for the Ant Invasion</h3>
              <p class="byline show-for-medium-up">by <a href="#">Jaime Bender</a> | Thursday, April 17, 2014</p>
              <p class="show-for-medium-up">Ants are making their way into homes this time of year. Thankfully there are natural pest control methods to help you cope with and eliminate the problem.</p>
            </div>

          </div>