{% load thumbnail render_rail paginate %}
    <div class="small-12 columns stream-item-list{% if pagination_obj.number == 1 %} page-1{% endif %}" data-equalizer>
      <div class="small-12 medium-9 columns" data-equalizer-watch>
	{% for item in stream_items %}
	<div class="row stream-item">
	  <div class="small-6 medium-4 columns">
	    <a href="{{ item.get_absolute_url }}"><img src="{% thumbnail item.content_object.primary_image.asset "275x185" crop="smart" %}" alt="{{ item.content_object.primary_image.alt_text }}" /></a>
	  </div>
	  <div class="small-6 medium-8 columns">
	    <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
	    <p class="byline show-for-medium-up">by <a href="{% url 'core_author_index' item.content_object.author.get_full_name|slugify %}">{{ item.content_object.author.get_full_name }}</a>{% if item.content_object.secondary_author %}&nbsp&amp&nbsp<a href="{% url 'core_author_index' item.content_object.secondary_author.get_full_name|slugify %}">{{ item.content_object.secondary_author.get_full_name }}</a>{% endif %} &nbsp;|&nbsp; {{ item.publication_date|date:"l, F j, Y" }}</p>
	    <p class="show-for-medium-up">{% if item.content_object.teaser %}{{ item.content_object.teaser }}{% else %}{{ item.content_object.description }}{% endif %}</p>
	  </div>
	</div>
	{% endfor %}
      </div>

      <div class="medium-3 stream-item-rail show-for-medium-up columns" data-equalizer-watch>
	{% render_rail request.path %}
      </div>


    </div>

    <div class="row-fluid">
      {% paginate pagination_obj %}
    </div>
