{% extends 'base.html' %}
{% load core social_tags thumbnail %}

{% block title %}UL Dashboard | {{ block.super }}{% endblock %}

{% block content %}

<div id="homepage-content" class="row ul-dashboard">

  <h1>UL Dashboard</h1>

  <style>

  .ul-dashboard h3 {
    line-height: 28px;
    margin: 5px 0px 30px 0px;
  }

  .ul-dashboard h3 a {
    color: #000;
    font-size: 21px;
    font-weight: bold;
  }

  @media screen and (max-width: 640px) {
    .ul-dashboard h1 {
      padding: 0px 15px;
    }
  }

  .ul-dashboard .social-counter {
    background: rgba(0, 0, 0, 0) url("http://static.safebee.com/img/featured-social-count-bg.png") no-repeat scroll 0 0;
    color: #fff;
    font: 15px/38px "Domine",Georgia,serif;
    height: 37px;
    position: absolute;
    right: 24px;
    text-align: center;
    top: 12px;
    width: 43px;
  }
  </style>

  <div class="row">

  {% for item in stream_items %}

    <div class="small-10 small-centered medium-uncentered medium-4 columns">
      <a href="{{ item.get_absolute_url }}"><img src="{% thumbnail item.content_object.primary_image.asset "381x286" crop="smart" %}" alt="{{ item.content_object.primary_image.alt_text }}" />
      {% social_counts item.get_absolute_url as counts %}
      {% if counts and counts.aggregate_count %}<span class="social-counter show-for-medium-up">{{ counts.aggregate_count|abbr_number }}</span>{% endif %}
</a>
      <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
    </div>

    {% if forloop.last %}
      {% if forloop.counter|divisibleby:"1" %}
    <div class="small-10 small-centered medium-uncentered medium-4 columns">
    </div>
    <div class="small-10 small-centered medium-uncentered medium-4 columns">
    </div>
      {% elif forloop.counter|divisibleby:"2" %}
    <div class="small-10 small-centered medium-uncentered medium-4 columns">
    </div>
      {% endif %}
    {% endif %}
    {% if forloop.counter|divisibleby:"3" %}
  </div>
  <div class="row">
    {% endif %}

  {% endfor %}

  </div>

</div>

{% endblock %}
