
{% extends 'base.html' %}

{% block title %}Page Not Found | {{ block.super }}{% endblock %}

{% block content %}
  <div id="article-content-container">
    <div id="article-content" class="row article-item">
      <div class="medium-9 columns sb-resize-9 top-action-row{% block additional_top_action_row_classes %}{% endblock %}">
        {% if disclaimer %}<h3 class="blog-header">Blog</h3>{% endif %}
        <h1>{{ content_item.title }}</h1>
        {% if content_item.subhead %}<h2 class="subhead">{{ content_item.subhead }}</h2>{% endif %}
        <div class="article-content-well {% block additional_article_content_well_classes %}{% endblock %}">
          
          {% block article_content %}
		 
		  {% include 'includes/social/social_inline_list.html' with additional_classes='show-for-small-only' %}

          <div class="article-body">
            <h1>Oops!</h1>
            <h2>The page you're looking for cannot be found, but since you're here, check out our <a href="{% url 'core_home_page' %}">latest stories</a> and sign up for our <a href="{% url 'newsletter_signup' %}">newsletter!</a></h2>

            {% if disclaimer %}<p class="blog-disclaimer">{{ disclaimer|safe }}</p>{% endif %}
          </div><!-- end article-body -->
          {% endblock %}
          {% include 'includes/content/recommended.html' %}

        </div><!-- end article content well -->
      </div><!-- end medium-9 -->

      {% include 'includes/content/sidebar.html' %}
      <div id="mobile-sailthru" class="next-mobile-static show-for-small-only">
          <div class="left">
              <div class="top">Scroll Down For More Stories!</div>
          </div>
          <div class="right">
              <i class="fa fa-angle-down"></i>
          </div>
      </div>
    </div><!-- end article content -->
  </div>
{% endblock %}
