<!doctype html>{% load compress core meta_robots %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ current_site.name }}{% endblock %}</title>
    {% block meta_robots %}{% meta_robots_tag %}{% endblock %}
    <meta id="dynamic-viewport" name="viewport" content="width=300">
    <script>
      if (screen.width > 480) {
        var mvp = document.getElementById('dynamic-viewport');
        mvp.setAttribute('content','width=1165');
      }
    </script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" />
    <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico?v=2">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/FTGV_Icon_152.png">
    {% if request.path == '/' %}<meta name="description" content="Placeholder" />{% endif %}
    {% block rel_canonical %}{% endblock %}
    {% block default_css_top %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% compress css %}<link rel="stylesheet" href="{{ STATIC_URL }}css/imports.css" /><link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css" /><link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />{% endcompress %}{% endblock %}
    {% block default_js_top %}<script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>{% endblock %}
    {% block extra_meta %}{% endblock %}{% block extra_css_top %}{% endblock %}{% block extra_js_top %}{% endblock %}
    {% include 'includes/social/facebook-open-graph.html' %}
    {% block rss %}<!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Latest Stories" href="{% url 'core_latest_content_feed' %}" />{% endblock %}

    {% include_unless_debug 'includes/analytics/google-analytics.html' %}

  </head>
  <body>

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        <div class="mobile-nav show-for-small-only">
          <a class="right-off-canvas-toggle" href="#" ><i class="fa fa-bars fa-2x"></i></a>

          {% include 'nav.html' %}
          {% block content %}{% endblock %}
          {% include 'footer.html' %}

        </div>
        <!-- end main content -->

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

      </div><!-- end inner-wrap -->
    </div><!-- end off-canvas-wrap -->

	{% block default_css_bottom %}{% endblock %}
	{% block default_js_bottom %}{% compress js %}<script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
	<script src="{{ STATIC_URL }}js/foundation.min.js"></script>
	<script>
	  $(document).foundation();
	</script>{% endcompress %}{% endblock %}
	{% block extra_css_bottom %}{% endblock %}
	{% block extra_js_bottom %}{% endblock %}

	{% include_unless_debug 'includes/analytics/chartbeat.html' %}
  </body>
</html>
