<!doctype html>{% load compress core meta_robots %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ current_site.name }}{% endblock %}</title>
    {% block meta_robots %}{% meta_robots_tag %}{% endblock %}
    <meta id="dynamic-viewport" name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="sImuxOJec4fNLo554QHCKdg8oiNuIU6LXBrliVVJjoU" />
    <meta name="p:domain_verify" content="8aabe2d68ab06a5bb777f09cbb2438b5"/>
    <script>
      if (screen.width > 480) {
        var mvp = document.getElementById('dynamic-viewport');
        mvp.setAttribute('content','width=1165');
      }
    </script>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/favicon_152.ico">
    {% if request.path == '/' %}
    <link rel="canonical" href="http://{{ current_site.domain }}/"/>
    <meta name="description" content="SafeBee is your one-stop source of advice and information to keep your family safe, healthy and happy. From wellness tips to up-to-date product recalls, we have it all." />
     <!-- Facebook Open Graph Tags -->
    <meta property="og:title" content="{{ current_site.name }}" />
    <meta property="og:url" content="http://www.safebee.com" />
    <meta property="og:description" content="SafeBee is your one-stop source of advice and information to keep your family safe, healthy and happy. From wellness tips to up-to-date product recalls, we have it all." />
    <meta property="og:image" content="{{ STATIC_URL }}img/logo.png" />
    <meta property="fb:admins" content="722241715" />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "http://www.safebee.com/",
        "name": "SafeBee",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "http://www.safebee.com/search/?q={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
    </script>

    {% endif %}
    {% block rel_canonical %}{% endblock %}
    {% block default_css_top %}{% compress css inline %}<link rel="stylesheet" href="{{ STATIC_URL }}css/initial.css" />{% endcompress %}{% endblock %}
    {% block default_js_top %}{% endblock %}
    {% block extra_meta %}{% endblock %}{% block extra_css_top %}{% endblock %}{% block extra_js_top %}{% endblock %}
    {% include 'includes/social/facebook-open-graph.html' %}
    {% block rss %}<!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Latest Stories" href="{% url 'core_latest_content_feed' %}" />{% endblock %}

    {% include 'includes/analytics/google-analytics.html' %}
    {% include 'includes/dfp/init.html' %}
  </head>
  <body>

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <div id="notifications">{% block notifications %}{% endblock %}</div>
        {% include 'includes/nav/nav.html' %}
        {% block content %}{% endblock %}
        {% include 'includes/footer.html' %}

        <!-- end main content -->

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

      </div><!-- end inner-wrap -->
    </div><!-- end off-canvas-wrap -->

	{% block default_css_bottom %}{% compress css %}<link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" />{% endcompress %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">{% endblock %}
	{% block default_js_bottom %}{% compress js %}<script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
  <script src="{{ STATIC_URL }}js/modal/jquery.modal.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ajaxchimp-master/jquery.ajaxchimp.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
  <script src="{{ STATIC_URL }}js/app.js"></script>
	<script>
	  $(document).foundation();
	</script>{% endcompress %}{% endblock %}
	{% block extra_css_bottom %}{% endblock %}
	{% block extra_js_bottom %}{% endblock %}

  {% include_unless_debug 'includes/analytics/quantcast.html' %}
  {% block pinit %}{% endblock %}

  {% include 'includes/social/newsletter_signup.html' %}

  </body>
</html>
