          <!-- Off Canvas Menu -->
          <aside class="right-off-canvas-menu">
            <!-- whatever you want goes here -->
            <ul class="off-canvas-list">
                <li><label>Categories</label></li>
              <li><a href="category_index.html">Family</a></li>
              <li><a href="category_index.html">Food</a></li>
              <li><a href="category_index.html">Home</a></li>
              <li><a href="category_index.html">Health</a></li>
              <li><a href="category_index.html">Tech</a></li>
              <li><a href="category_index.html">Shopping</a></li>
              <li><a href="category_index.html">Travel</a></li>
              <li><a href="category_index.html">Outdoors</a></li>
              <li><a href="category_index.html">The Hive</a></li>
                <li><label>Social</label></li>
            </ul>
            <div class="row">
            <div class="small-12 columns">
              <ul class="inline-list">
                <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u="><i class="fa fa-facebook fa-2x"></i></a></li>
                <li class="twitter"><a href="http://twitter.com/home?status="><i class="fa fa-twitter fa-2x"></i></a></li>
                <li class="pinterest"><a href="http://pinterest.com/pin/create/button/?url=&media=&description="><i class="fa fa-pinterest fa-2x"></i></a></li>
                <li class="google-plus"><a href="https://plus.google.com/share?url="><i class="fa fa-google-plus fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
          </aside>
        </div>

        <!-- main content goes here -->
        <div id="masthead" class="row collapse">
          <div class="medium-12 columns">
            <div class="logo">
              <a href="./index.html"><img src="{{ STATIC_URL }}img/logo.png" title="SafeBee.com" /></a>
            </div>
            <div class="nl-signup show-for-medium-up">
              <a href="#"><img src="{{ STATIC_URL }}img/nl-sign-up-header.png" title="Sign up for the Daily Buzz" /></a>
            </div>
            <div class="search show-for-medium-up">
              <a href="#"><img src="{{ STATIC_URL }}img/search-box-header-dummy.png" /></a>
            </div>
          </div>
        </div><!-- end masthead -->
        
        <div class="row show-for-medium-up">
          <div class="medium-11 medium-centered columns">
            <div id="nav">
              <ul class="inline-list">
                <li><a href="category_index.html">Family</a></li>
                <li><a href="category_index.html">Food</a></li>
                <li><a href="category_index.html">Home</a></li>
                <li><a href="category_index.html">Health</a></li>
                <li><a href="category_index.html">Tech</a></li>
                <li><a href="category_index.html">Shopping</a></li>
                <li><a href="category_index.html">Travel</a></li>
                <li><a href="category_index.html">Outdoors</a></li>
                <li><a href="category_index.html">The Hive</a></li>
              </ul>
            </div>
          </div>
        </div><!-- end nav row -->
