{% extends 'content.html' %}
{% load core render_rail schema thumbnail micawber_tags flatpages %}

{% block title %}{{ flatpage.title }}{{ block.super }}{% endblock %}

{% block rel_canonical %}<link rel="canonical" href="http://{{ current_site.domain }}{{ flatpage.url }}"/>{% endblock %}

{% block extra_meta %}
    {% if flatpage.description %}<meta name="description" content="{{ flatpage.description }}" />{% endif %}
    {% schema_markup_for_flatpage flatpage schema_type="AboutPage" %}
{% endblock %}

{% block content %}
    <div id="article-content" class="row {{ flatpage.title|slugify }}">
    {% block top-action-row %}
      <div class="medium-9 columns top-action-row headline-topper list">
        <h1>{{ flatpage.title }}</h1>
        {% if flatpage.subhead %}<h5>{{ flatpage.subhead }}</h5>{% endif %}
      </div><!-- end top-action-row -->
    {% endblock %}
      <div class="medium-9 columns sb-resize-9">
        <div class="article-content-well {% block additional_article_content_well_classes %}{% endblock %}">
          {% block article_content %}
          <div class="article-body">
            {{ flatpage.content|safe|oembed_html|load_static }}
	    {% if request.path == '/about/' %}{% render_about_us_bios %}{% endif %}
          </div><!-- end article-body -->
          {% endblock %}

          {% include 'includes/content/recommended.html' %}

        </div><!-- end article content well -->
      </div><!-- end medium-9 -->

      {% include 'includes/content/sidebar.html' %}

    </div><!-- end article content -->
{% endblock %}
