<ul class="inline-list {% if additional_classes %} {{ additional_classes }}{% endif %}">
  <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u="><i class="fa fa-facebook fa-2x"></i></a></li>
  <li class="twitter"><a href="http://twitter.com/home?status="><i class="fa fa-twitter fa-2x"></i></a></li>
  <li class="pinterest"><a href="http://pinterest.com/pin/create/button/?url=&media=&description="><i class="fa fa-pinterest fa-2x"></i></a></li>
  <li class="google-plus"><a href="https://plus.google.com/share?url="><i class="fa fa-google-plus fa-2x"></i></a></li>
</ul>
