<ul class="inline-list{% if additional_classes %} {{ additional_classes }}{% endif %}">
	<li><a href="https://www.facebook.com/pages/SafeBee/244175299110761?sk=timeline"><i class="fa fa-facebook-square"></i></a></li>
	<li><a href="https://twitter.com/SafeBeeTweets"><i class="fa fa-twitter-square"></i></a></li>
	<li><a href="http://www.pinterest.com/SafeBee/"><i class="fa fa-pinterest-square"></i></a></li>
	<li><a href="http://safebee.tumblr.com/"><i class="fa fa-tumblr-square"></i></a></li>
	<li><a href="https://plus.google.com/u/0/b/112140864189621417965/112140864189621417965/about"><i class="fa fa-google-plus-square"></i></a></li>
</ul>
