<ul class="inline-list social-inline-list{% if additional_classes %} {{ additional_classes }}{% endif %}">
  <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u="><i class="fa fa-facebook"></i><span class="count">324</span></a></li>
  <li class="twitter"><a href="http://twitter.com/home?status="><i class="fa fa-twitter"></i></a></li>
  <li class="pinterest"><a href="http://pinterest.com/pin/create/button/?url=&media=&description="><i class="fa fa-pinterest"></i></a></li>
  <li class="google-plus"><a href="https://plus.google.com/share?url="><i class="fa fa-google-plus"></i></a></li>
</ul>
