<div id="survey-monkey-modal" style="display: none;" class="modal">
	<div class="survey-modal">
		<div class="survey-popup holiday">
			<img class="survey-safebee" src="{{ STATIC_URL }}img/survey_popup/safebee.png">
			<div class="row">
				<div class="small-12 medium-8 columns end">
					<h2>Tell us what you think!</h2>
					<p>Help us make SafeBee the <strong>go-to source</strong> of exactly the information and tools you want. Share your thoughts and you could win one of five <strong>$100 Amazon gift cards<strong>!</p>
				</div>
			</div>
			<div class="row text-center">
				<div class="small-12 columns">
					<div class="survey-controls">
						<a class="button" href="https://www.surveymonkey.com/r/89QD7RQ">Take me to the survey!</a><a class="text-button" href="#close" rel="modal:close" >Maybe Later</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>