#index-content {
	
	h1 {
		background-color: $primary-color;
		color: #fff;
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 10px;
		padding: 4px 15px;
		text-transform: uppercase;
	}

	#featured-story {
		margin-bottom: 80px;
		position: relative;

		@media screen and (max-width: $break-small) {
			margin-bottom: 15px;
		}

		img {
			position: relative;
		}

		h2 {
			font: bold 42px $header-font;
			color: #fff;
			position: absolute;
			bottom: 15px;
			left: 46px;
			width: 55%;

			@media screen and (max-width: $break-small) {
				background: linear-gradient(to top, rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0));
				font-size: 16px;
				line-height: 22px;
				padding: 15px;
				position: absolute;
				bottom: -8px;
				left: 0px;
				width: 100%;
			}
		}

		small.credit {
			font: 600 10px/24px $paragraph-font;
			position: absolute;
		}

	}

	#story-stream {
		position: static;

		.story {
			clear: both;
			margin-bottom: 30px;
			overflow: hidden;

			@media screen and (max-width: $break-small) {
				margin-bottom: 15px;
			}

			.byline {
				color: #acacac;
				margin-bottom: 12px;

				a {
					color: $primary-color;
					font-weight: 600;
				}

			}

			img {
				float: left;
				margin-right: 20px;

				@media screen and (max-width: $break-small) {
					margin-right: 10px;
				}
			}

			h3 {
				font: bold 24px/33px $header-font;

				@media screen and (max-width: $break-small) {
					font: bold 16px/22px $header-font;
				}
			}

		}

	}

}