.safety-tip-item {
	clear: both;
	margin-bottom: 30px;

	.safety-tip-content {
		background-color: $primary-color;
		height: 320px;
		overflow: hidden;

		@media screen and (max-width: $break-small) {
			background: none;
			height: auto;
		}
	}

	img {
		float: left;
		margin-right: 25px;

		@media screen and (max-width: $break-small) {
			margin-bottom: 15px;
		}
	}

	p {
		color: #fff;
		font: normal 12px/20px $paragraph-font;
		margin: 0;
		padding: 20px 30px 0px 0px;
	}

	@media screen and (max-width: $break-small) {
		h2 {
			font-size: 18px!important;
		}

		p {
			color: #000;
			font: normal 12px/21px $paragraph-font;
			margin-bottom: 15px!important;
			padding: 0px;
		}
	}
}

@media screen and (max-width: $break-small) {
	.safety-tip-item:first-child {
		border-top: 1px solid #b2b2b2;
		padding-top: 15px;
	}

	div.article-content-well.content-item-list {
		padding-top: 8px!important;
	}
}