{% extends 'base.html' %}{% load core %}

{% block title %}Get the SafeBee Newsletter | {{ block.super }}{% endblock %}

{% block content %}
    <div id="newsletter-content" class="row">
      <div class="medium-9 columns">
        <h2>What's All the Buzz About?</h2>
	
      	<div id="newsletter-signup-container">

          <h1>Sign up for our newsletter and stay up-to-date with all the latest SafeBee news.</h1>
      	  <h3>Enter your email address and subscribe for coverage on safety-related news, product recalls and more</h3>
          <form id="newsletter-signup-form">
            <input type="email" placeholder="Enter email address" id="id_email">
            <button class="btn" type="submit" id="id_submit">Sign Up <i class="fa fa-angle-right"></i></button>
            <label for="id_email"></label>
          </form>
          <p>By subscribing to SafeBee newsletters, you agree to our <a href="/terms/">Terms &amp; Conditions</a> and <a href="/privacy/">Privacy Policy</a></p>
      	</div>

        <div class="mobile-padding">{% include 'includes/content/recommended.html' %}</div>
      </div><!-- end medium-9 -->

      {% include 'includes/content/sidebar.html' %}

    </div><!-- end newsletter content -->
{% endblock %}

{% block extra_js_bottom %}
<script src="{{ STATIC_URL }}js/vendor/jquery.ajaxchimp.min.js"></script>
<script>
function mcSignupCallback(resp) {
  if (resp.result === 'success') {      
    $("#id_email").attr("disabled", true);  
    var submit = $("#id_submit");
    submit.css('background-color', '#47a8cc');
    submit.attr("disabled", true);
    submit.text("Thanks, we'll be in touch!");
  }
}

$('#newsletter-signup-form').ajaxChimp({
    url: '{% print_setting 'MAILCHIMP_URL' %}',
    callback: mcSignupCallback
});
</script>
{% endblock %}