{% load core smart_truncate_chars %}

{% get_previous_category_item content_item as previous_item %}
<div class="row prev-next-article show-for-medium-up">
    <div class="small-12 collapse" data-equalizer>
        {% if previous_item %}
        <div class="medium-6 columns prev" data-equalizer-watch><a href="{{ previous_item.get_absolute_url }}"><span> <i class="fa fa-angle-left"></i> Prev</span>{{ previous_item }}</a></div>
        {% endif %} {% if next_item %}
        <div class="medium-6 columns next" data-equalizer-watch><a href="{{ next_item.get_absolute_url }}"><span>Next <i class="fa fa-angle-right"></i></span>{{ next_item }}</a></div>
        {% endif %}
    </div>
</div>
