{% load core %}
{% get_next_category_item content_item as next_item %}
{% get_previous_category_item content_item as previous_item %}
<div class="row prev-next-article show-for-medium-up">
    <div class="small-12 collapse" data-equalizer>
        {% if previous_item %}
        <div class="medium-6 columns prev" data-equalizer-watch><a href="{{ previous_item.get_absolute_url }}"><span> <i class="fa fa-angle-left"></i> Prev</span>{{ previous_item }}</a></div>
        {% endif %} {% if next_item %}
        <div class="medium-6 columns next" data-equalizer-watch><a href="{{ next_item.get_absolute_url }}"><span>Next <i class="fa fa-angle-right"></i></span>{{ next_item }}</a></div>
        {% endif %}
    </div>
</div>

{% if next_item %}
<div class="next-mobile-static show-for-small-only">
    <div class="left">
        <div class="top">
            NEXT STORY
        </div>
        <div class="title">
            <a href="{{ next_item.get_absolute_url }}">{{next_item}}</a>
        </div>
    </div>
    <div class="right">
        <a href="{{ next_item.get_absolute_url }}"><i class="fa fa-angle-right"></i></a>
    </div>
</div>
{% endif %}
