          <div class="recommended">
            <h3>You may also like</h3>
            <ul class="inline-list" data-equalizer>
              <li>
                <a href="#">
                  <img data-interchange="[http://placehold.it/77x77, (default)], [http://placehold.it/214x139, (medium)]" />
                  <p data-equalizer-watch>May Is Asthma Awareness Month</p>
                </a>
              </li>

              <li>
                <a href="#">
                  <img data-interchange="[http://placehold.it/77x77, (default)], [http://placehold.it/214x139, (medium)]" />
                  <p data-equalizer-watch>7 Energy-Saving Ways To Dry Your Clothes</p>
                </a>
              </li>

              <li>
                <a href="#">
                  <img data-interchange="[http://placehold.it/77x77, (default)], [http://placehold.it/214x139, (medium)]" />
                  <p data-equalizer-watch>Food Safety Concerns</p>
                </a>
              </li>

              <li>
                <a href="#">
                  <img data-interchange="[http://placehold.it/77x77, (default)], [http://placehold.it/214x139, (medium)]" />
                  <p data-equalizer-watch>The World's Smartest Smoke Detector Is Recalled</p>
                </a>
              </li>

            </ul>
          </div><!-- end recommended -->
