      <div id="sidebar" class="medium-3 columns show-for-medium-up">{% load humanize recall_tags social_tags thumbnail %}

        <h3 class="module-header">Alerts &amp; Recalls</h3>
        <div class="sidebar-item">
          <ul>{% latest_recalls as latest_recalls %}
            {% for recall_item in latest_recalls %}
            <li><a href="{{ recall_item.get_absolute_url }}"><img src="{% thumbnail recall_item.image 55x55 crop="smart" %}" /></a><p><a href="{{ recall_item.get_absolute_url }}">{{ recall_item.content_object.title }}</a></p></li>
            {% endfor %}
          </ul>
          <a class="view-more" href="{% url 'recalls_list' %}">View all Alerts &amp; Recalls &gt;</a>
        </div><!-- end alerts & recalls -->

        <h3 class="module-header">What's The Buzz About?</h3>
        <div class="sidebar-item whats-the-buzz">
          <h5>Popular</h5>
          <ul>{% disqus_popular_threads as popular_threads %}
	    {% for thread in popular_threads %}
            <li><a href="{{ thread.thread_link }}">"{{ thread }}"</a><span>{{ thread.thread_posts }} COMMENT{{ thread.thread_posts|pluralize:"S" }} | Started {{ thread.creation_date|naturaltime }}</span></li>
	    {% endfor %}
          </ul>

          <h5>Trending</h5>
          <ul>{% disqus_hot_threads as hot_threads %}
	    {% for thread in hot_threads %}
            <li><a href="{{ thread.thread_link }}">"{{ thread }}"</a><span>{{ thread.thread_posts }} COMMENT{{ thread.thread_posts|pluralize:"S" }} | Started {{ thread.creation_date|naturaltime }}</span></li>
	    {% endfor %}
          </ul>
        </div><!-- end what's the buzz -->

        <div class="sidebar-item sidebar-ad">
          <img src="{{ STATIC_URL }}img/ul-test-sidebar-ad.jpg" />
        </div><!-- end sidebar ad -->

        <div class="sidebar-item top-stories">
          <h3>Top <span class="num">6</span> Stories</h3>
          <ol>
            <li><a href="#">Wise cat imparts sage advice to kitten in hilarious video</a></li>
            <li><a href="#">8 acts of kindness to animals that will restore your faith in humanity</a></li>
            <li><a href="#">13 natural remedies for the ant invasion</a></li>
            <li><a href="#">You haven't heard 'Baby Got Back' like this before</a></li>
            <li><a href="#">Too beautiful to be real? 16 surreal landscapes found on Earth</a></li>
            <li><a href="#">5 unexpected countries that are leading the way on renewable energy</a></li>
          </ol>
        </div>

      </div><!-- end sidebar -->
