      <div id="sidebar" class="medium-3 columns show-for-medium-up">{% load recall_tags thumbnail %}

        <h3 class="module-header">Alerts &amp; Recalls</h3>
        <div class="sidebar-item">
          <ul>{% latest_recalls as latest_recalls %}
            {% for recall in latest_recalls %}
            <li><a href="{% url 'recalls_detail' pk=recall.pk %}"><img src="{% thumbnail recall.image 55x55 crop="smart" %}" /></a><p><a href="{% url 'recalls_detail' pk=recall.pk %}">{{ recall.title }}</a></p></li>
            {% endfor %}
          </ul>
          <a class="view-more" href="{% url 'recalls_home' %}">View all Alerts &amp; Recalls &gt;</a>
        </div><!-- end alerts & recalls -->

        <h3 class="module-header">What's The Buzz About?</h3>
        <div class="sidebar-item whats-the-buzz">
          <h5>Popular</h5>
          <ul>
            <li><a href="#">"Do you know the truth about GMOs?"</a><span>50 COMMENTS | Started 100 days ago</span></li>
            <li><a href="#">"Anyone have car set recommendations for a 2 1/2 year old?"</a><span>100 COMMENTS | Started 2 days ago</span></li>
            <li><a href="#">"Do you know the truth about GMOs?"</a><span>50 COMMENTS | Started 100 days ago</span></li>
          </ul>

          <h5>Trending</h5>
          <ul>
            <li><a href="#">"Need a computer that takes a beating"</a><span>25 COMMENTS | Started 24 hours ago</span></li>
            <li><a href="#">"Need a computer that takes a beating"</a><span>25 COMMENTS | Started 24 hours ago</span></li>
            <li><a href="#">"Need a computer that takes a beating"</a><span>25 COMMENTS | Started 24 hours ago</span></li>
          </ul>

          <a class="view-more" href="#">Go to forums &gt;</a>
        </div><!-- end what's the buzz -->

        <div class="sidebar-item sidebar-ad">
          <img src="{{ STATIC_URL }}img/ul-test-sidebar-ad.jpg" />
        </div><!-- end sidebar ad -->

        <div class="sidebar-item top-stories">
          <h3>Top <span class="num">6</span> Stories</h3>
          <ol>
            <li><a href="#">Wise cat imparts sage advice to kitten in hilarious video</a></li>
            <li><a href="#">8 acts of kindness to animals that will restore your faith in humanity</a></li>
            <li><a href="#">13 natural remedies for the ant invasion</a></li>
            <li><a href="#">You haven't heard 'Baby Got Back' like this before</a></li>
            <li><a href="#">Too beautiful to be real? 16 surreal landscapes found on Earth</a></li>
            <li><a href="#">5 unexpected countries that are leading the way on renewable energy</a></li>
          </ol>
        </div>

      </div><!-- end sidebar -->
