{% extends 'list.html' %}
{% load thumbnail %}

{% block article_content %}

{% for tipslistitem in content_item.tipslistitem_set.all %}
<div class="safety-tip-item">
	<h2>{{ forloop.counter }}. {{ tipslistitem.title }}</h2>
	<div class="safety-tip-content">
		<img data-interchange="[{% thumbnail tipslistitem.image.asset 600x446 crop="smart" %}, (default)], [{% thumbnail tipslistitem.image.asset 525x320 crop="smart" %}, (medium)]" alt="{{ tipslistitem.image.alt_text }}" />
		{{ tipslistitem.caption|safe }}
	</div>
</div>
{% endfor %}

{% endblock %}