<div class="row latest-most-popular-recalls">

	<div class="small-12 columns">

		<div class="small-12 medium-6 columns widget-box">
			<h3>Latest Recalls</h3> <span class="view-all"><a href="">View all</a></span>
			<ul>
		        <li><a href="#"><img src="http://placehold.it/55x55" /></a><p><a href="#">Sunbeam recalls Holmes Ceramic Heaters due to fire hazard</a></p></li>
	            <li><a href="#"><img src="http://placehold.it/55x55" /></a><p><a href="#">Hamilton Beach recalls baby food makers due to small parts hazard</a></p></li>
	            <li><a href="#"><img src="http://placehold.it/55x55" /></a><p><a href="#">Lithonia Lighting recalls Emergency Lights due to fire hazard</a></p></li>
			</ul>
		</div>

		<div class="small-12 medium-6 columns widget-box">
			<h3>Most Popular</h3> <span class="view-all"><a href="">View all</a></span>
			<ul>
		        <li><a href="#"><img src="http://placehold.it/55x55" /></a><p><a href="#">Sunbeam recalls Holmes Ceramic Heaters due to fire hazard</a></p></li>
	            <li><a href="#"><img src="http://placehold.it/55x55" /></a><p><a href="#">Hamilton Beach recalls baby food makers due to small parts hazard</a></p></li>
	            <li><a href="#"><img src="http://placehold.it/55x55" /></a><p><a href="#">Lithonia Lighting recalls Emergency Lights due to fire hazard</a></p></li>
			</ul>
		</div>

	</div>

</div>
