{% load thumbnail recall_tags %}
<div class="row latest-most-popular-recalls{% if additional_classes %} {{ additional_classes }}{% endif %}">

        <div class="small-12 columns{% if column_adjustment_class %} {{ column_adjustment_class }}{% endif %}">

                <div class="small-12 medium-6 columns widget-box">
                        <h3>Latest Recalls</h3> <span class="view-all"><a href="{% url 'recalls_list' %}">View all</a></span>
                        <ul>{% latest_recalls as latest_recalls %}
                          {% for recall_item in latest_recalls %}
                          <li><a href="{{ recall_item.get_absolute_url }}"><img src="{% if recall_item.image %}{% thumbnail recall_item.image 55x55 crop="smart" %}{% else %}{{ recall_item.content_object.get_default_image_55 }}{% endif %}" /></a><p><a href="{{ recall_item.get_absolute_url }}">{{ recall_item.content_object }}</a></p></li>
                          {% endfor %}
                        </ul>
                </div>

                <div class="small-12 medium-6 columns widget-box">
                        <h3>Most Popular</h3> <span class="view-all"><a href="">View all</a></span>
                        <ul>
                          {% for recall in popular_recalls %}
                          <li><a href=""><img src="http://placehold.it/55x55" /></a><p><a href="#">Sunbeam recalls Holmes Ceramic Heaters due to fire hazard</a></p></li>
                          {% endfor %}
                    <li><a href="#"><img src="http://placehold.it/55x55" /></a><p><a href="#">Hamilton Beach recalls baby food makers due to small parts hazard</a></p></li>
                    <li><a href="#"><img src="http://placehold.it/55x55" /></a><p><a href="#">Lithonia Lighting recalls Emergency Lights due to fire hazard</a></p></li>
                        </ul>
                </div>

        </div>

</div>
