/* Pagination styles */
ul.pagination {
    margin-top: 40px;

    li {
        color: $primary-color;
        font: 600 14px/28px $paragraph-font;

        a {
            border: 1px solid #bfbfbf;
            border-radius: 5px;
            color: $primary-color;
            font-weight: 600;
            padding: 10px 18px;
        }
    }

    li.current a {
        background-color: $primary-color;
        color: #fff;
    }

    li.unavailable a {
        color: #ccc;
    }

    li.unavailable.ellipsis a {
        border: none;
    }

}
