{% extends 'admin/base_site.html' %}
{% load i18n  %}

{% block title %}
Clone "{{ rail.title }}" {{ block.super }}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
{% endblock %}

{% block content %}
<div id="content-main">
<h3 style="margin: 7px 0px;">Cloning "{{ rail.title }}"</h3>
<form action="" method="post">
{% csrf_token %}
<fieldset class="module aligned "> 
{% for field in form %}
  <div class="form-row {{ field.label|lower }}"> 
    {{ field.errors }}
    <label for="id_{{ field.label|lower }}" class="required">{{ field.label }}:</label> 
    <input name="{{ field.label|lower }}" class="vTextField" maxlength="255" type="text" id="id_{{ field.label|lower }}" />
  </div>
{% endfor %}
</fieldset>   
<div class="submit-row">
<input type="submit" value="Submit" class="default" />
</div>
</form>
</div>
{% endblock %}
