<div class="rail-item follow">
  <h4>Follow the grapevine</h4>
  <ul class="inline-list">
    <li><a href="https://www.facebook.com/grapevine" target="_blank" rel="nofollow"><i class="fa fa-facebook-square fa-2x"></i></a></li>
    <li><a href="https://twitter.com/fromgrapevine" target="_blank" rel="nofollow"><i class="fa fa-twitter-square fa-2x"></i></a></li>
    <li><a href="http://www.pinterest.com/fromGrapevine/" target="_blank" rel="nofollow"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
    <li><a href="http://fromgrapevine.tumblr.com/" target="_blank" rel="nofollow"><i class="fa fa-tumblr-square fa-2x"></i></a></li>
    <li><a href="https://plus.google.com/u/0/b/104554538071635177379/104554538071635177379/posts" target="_blank" rel="nofollow"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
  </ul>
</div>
