    <script type='text/javascript'>
      var _sf_async_config={};
      /** CONFIGURATION START **/
      _sf_async_config.uid = 56678;
      _sf_async_config.domain = '{{ current_site.domain }}';
      _sf_async_config.useCanonical = false;
      _sf_async_config.sections = '{% block chartbeat_sections %}{% endblock %}';
      _sf_async_config.authors = '{% block chartbeat_authors %}{% endblock %}';
      /** CONFIGURATION END **/
      (function(){
        function loadChartbeat() {
          window._sf_endpt=(new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
          document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
        loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    </script>
