{% extends "admin/content_change_form.html" %}

{% block extrahead %}
{{ block.super }}
<script>
    function showEditPopup(triggeringLink) {
        var name = triggeringLink.id.replace(/^edit_/, '');
        name = id_to_windowname(name);
        var href = triggeringLink.href;
        if (href.indexOf('?') == -1) {
            href += '?_popup=1';
        } else {
            href  += '&_popup=1';
        }
        var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
        win.focus();
        return false;
    }

    $(document).ready(function(){

        $('.field-question .add-another').each(function(i,o){
            select_obj=$(o).parent().find('select')[0];
            item_id=select_obj.options[select_obj.selectedIndex].value;
            var linkvalue = $(this).prev().attr('value');
            edit_url=o.href.replace('add',item_id) + '&_popup=1';
            add_url=o.href.concat("&quiz_id={{ original.id }}&pop=1");
            if (item_id) {
                $(this).after('<span></span>&nbsp&nbsp<a class="edit-popup" id="edit_'+ $(this).prev().attr("id")
                              + '" href="' + edit_url + '" onclick="return showEditPopup(this);"><i class="icon-edit"></i></a>');
            };
        });

});
</script>
{% endblock %}
