<div id="byline-row" class="{% if additional_classes %}{{ additional_classes }}{% endif %}">
  <div id="byline">
    <img class="author-image" src="http://placehold.it/50x50" />
    <p class="author">
      <a href="/author/lloyd-alter/">Lloyd Alter</a> (<a href="https://twitter.com/lloydalter">@lloydalter</a>)
      <a class="show-for-medium-up block" href="{{ content_item.category.get_absolute_url }}">{{ content_item.category.name }}</a>
      <span class="block">{{ content_item.publication_date|date:"F j, Y" }}</span>
    </p>
  </div>
  {% include 'includes/social/social_inline_list.html' with additional_classes='show-for-medium-up right fixed-to-bottom' %}
</div>